.mat-row {
  min-height: 1px;
  height: 26px;
  padding: 0;
}
.quizz-table .mat-cell {
  font-size: 11px;
  height: 100%;
  line-height: 26px;
  padding-right: 15px;
}
.quizz-table .mat-cell:first-child {
  padding-left: 15px;
}
.quizz-table .mat-row .even {
  background-color: #e6e6e6;
}
.quizz-table .mat-row .odd {
  background-color: #f7f7f7;
}
.quizz-table .mat-row:hover .even,
.quizz-table .mat-row:hover .odd {
  background-color: #35cc99 !important;
  color: #fff;
}
.quizz-table .mat-row .mat-cell .mat-select-value {
  text-align: center;
  background-color: #fff;
}

/*Fquizz-table
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
.quizz-table {
  border-collapse: initial;
}
.mat-table {
  width: 100%;
}
@media (max-width: 1000px) {
  .mat-table {
    width: 1000px;
  }
}

ng-scrollbar {
  height: 600px;
  width: 100%;

  /* overflow-x: scroll!important; */
}

.quizz-blank{
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: auto;
    height: 22px;
    color: #8d8d8d;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}
.quizz-table .container-table {
  margin: 45px auto 15px;
  padding: 0;
  max-height: 460px;
  overflow: hidden;
  border-bottom: 1px #000 solid;
}

.ng-scrollbar -vertical > .ng-scrollbar-thumb {
  background-color: #9ba7b5 !important;
}

.quizz-table .mat-row:hover .mat-cell {
  color: #fff;
}
.quizz-table .mat-row.no-border .mat-cell {
  border: 0px;
  border-bottom: 2px #fc6100 solid;
}

.mat-select-trigger {
  text-align: center;
}

.quizz-table .mat-row a.picto {
  display: table-cell;
  width: 30px;
  height: 22px;
  background: url(/assets/images/pictos-agency.png) no-repeat center;
  overflow: hidden;
  background-size: 30px auto;
  transition: 0.3s;
}
.quizz-table .mat-row:hover a.picto {
  background: url(/assets/images/pictos-agency2.png) no-repeat center;
  background-size: 30px auto;
}

.quizz-table .mat-header-row {
  border-bottom: 2px #fc6100 solid;
  padding: 0 15px;
  min-height: 1px;
  height: 46px;
  vertical-align: bottom;
}
.quizz-table .mat-header-cell {
  color: #8d8d8d;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  padding-right: 20px;
  position: relative;
  overflow: visible;
  padding-left: 5px;
}
.quizz-table .mat-header-cell:first-child {
  font-weight: 600;
}
.quizz-table .mat-header-cell:last-child:after {
  display: none;
}
.quizz-table .mat-header-cell:after {
  position: absolute;
  width: 1px;
  height:32px;
  background-color: #8d8d8d;
  content: '';
  right: 1px;
  top: 0;
  z-index: 50;
  bottom: 0;
  display: block;
  margin: auto;
}
.quizz-table .mat-row a {
  cursor: pointer;
}
.quizz-table .mat-row a.picto.copy {
  background-position: -3px -2px;
}
.quizz-table .mat-row a.picto.reultat {
  background-position: -3px -47px;
}
.quizz-table .mat-row a.picto.apercu {
  background-position: -3px -26px;
}
.quizz-table .mat-row a.picto.suppr {
  background-position: -3px -73px;
}
.quizz-table .mat-cell:last-child,
.quizz-table th:last-child {
  width: auto;
}
.mat-table {
  padding-right: 0px;
}

/* hover 
**********/
.quizz-table .mat-row:hover .mat-cell > a.copy {
  background-position: -3px -2px;
}
.quizz-table .mat-row:hover .mat-cell > a.reultat {
  background-position: -3px -47px;
}
.quizz-table .mat-row:hover .mat-cell > a.apercu {
  background-position: -3px -26px;
}
.quizz-table .mat-row:hover .mat-cell > a.suppr {
  background-position: -3px -73px;
}
.quizz-table .mat-row:hover .mat-cell:last-child {
  width: auto;
}
.mat-elevation-z8 {
  box-shadow: none !important;
}

.parent-pagination .paginator {
  display: inline-block;
  float: right;
}
.parent-pagination .number-item-page {
  font-family: firasans;
  display: inline-block;
  float: left;
  font-weight: 600;
}
.relative {
  position: relative;
}
.example-panel::parent {
  top: 44px !important;
}

.quizz-blank {
  text-align: center;
  font-size: larger;
}

.class-flou {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}
.btn-header {
  width: 15px;
  height: 20px;
  position: absolute;
  right: 3px;
  top: 0;
  bottom: 0;
  display: block;
  margin: auto;
}
.btn-header > .caret {
  display: block;
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-top:6px dashed;
  margin-bottom: 3px;
  cursor: pointer;
  color: #8d8d8d;
}
.btn-header > .caret:hover {
  color: #fc6100;
}
.is-selected {
  color: #fc6100!important;
}
.btn-header > .haut.caret {
  transform: rotate(180deg);
}

.filtre-quiz .liste > li.btn-group > select {
  width: 100%;
  height: 40px;
  margin-top: 3px;
}
.filtre-quiz .liste > li.btn-group > select > option.ng-star-inserted {
  background-color: #fc6100;
}

.test-panel .mat-select-content{
  background-color: rgba(0, 255, 0, 0.5)!important;
}

@media (max-width: 1000px) {
  .parent-pagination .paginator {
    width: 65%;
  }
}
@media (max-width: 992px) {
  .parent-pagination .paginator,
  .parent-pagination .number-item-page {
    display: block;
    float: none;
    width: 100%;
  }
  .add-quizz {
    right: 0;
    transition: 0.3s;
    bottom: calc(100% - 100px)
  }
  .add-quizz:hover {
    background-color: #fc6100;
  }
  .quizz-table .container-table {
    margin: 35px auto 15px;
  }
}
@media (max-width:533px){
  .add-quizz{
    bottom: 0;
  }
}