<div class="navbar filtre-quiz bg-quizz">
  <div class="container">
    <ul class="liste">
      <li class="title">
        <a>Création de quizz</a>
      </li>
      <li class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic">
          Filtrer par entreprise
          <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
          <li role="menuitem">
            <a class="dropdown-item" href="#">Entreprise1</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Entreprise2</a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Entreprise3</a>
          </li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem">
            <a class="dropdown-item" href="#">Entreprise4</a>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Entreprise5</a>
              <li role="menuitem">
                <a class="dropdown-item" href="#">Entreprise6</a>
                <li role="menuitem">
                  <a class="dropdown-item" href="#">Entreprise7</a>
                  <li role="menuitem">
                    <a class="dropdown-item" href="#">Entreprise8</a>
                    <li role="menuitem">
                      <a class="dropdown-item" href="#">Entreprise9</a>
                      <li role="menuitem">
                        <a class="dropdown-item" href="#">Entreprise10</a>
                        <li role="menuitem">
                          <a class="dropdown-item" href="#">Entreprise11</a>
                          <li role="menuitem">
                            <a class="dropdown-item" href="#">Entreprise12</a>
                            <li role="menuitem">
                              <a class="dropdown-item" href="#">Entreprise13</a>
                            </li>
        </ul>
        </li>
        <li class="form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Rechercher..">
            <span class="input-group-btn">
              <button class="btn btn-search" type="button"></button>
            </span>
          </div>
        </li>
    </ul>
  </div>
</div>

<!-- quizz-table -->

<div class="quizz-table">

  <div class="container container-table">

    <ng-scrollbar #scrollRef [trackY]="true" [trackX]="true">

      <div class="example-container mat-elevation-z8">
        <mat-table #table [dataSource]="dataSource" matSort>

          <!-- Position Column -->


          <!-- Symbol Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="test"> Nom </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" [ngClass]="{'odd':i%2 ===0,'even':i%2 !==0}"> {{element.name}} </mat-cell>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="test"> description </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" [ngClass]="{'odd':i%2 ===0,'even':i%2 !==0}"> {{element.description}} </mat-cell>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="test"> date creation </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" [ngClass]="{'odd':i%2 ===0,'even':i%2 !==0}"> {{element.created_date}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="enterprise">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="test"> Entreprise </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" [ngClass]="{'odd':i%2 ===0,'even':i%2 !==0}"> {{element.entreprise}} </mat-cell>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="response">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="test"> Reponse </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" [ngClass]="{'odd':i%2 ===0,'even':i%2 !==0}"> {{element.response}} </mat-cell>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="test"> Statut </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" [ngClass]="{'odd':i%2 ===0,'even':i%2 !==0}">
              <mat-select [(value)]="element.status">
                <mat-option value="nominatif">nominatif</mat-option>
                <mat-option value="anonyme">anonyme</mat-option>
              </mat-select>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="vide">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="test"> </mat-header-cell>
            <mat-cell *matCellDef="let element; let i = index;" [ngClass]="{'odd':i%2 ===0,'even':i%2 !==0}">
              <a href="" class="picto copy" title="copie"></a>
              <a href="" class="picto reultat" title="stats global"></a>
              <a href="" class="picto apercu" title="Aperçu" title="Aperçu"></a>
              <a href="" class="picto suppr" title="Supprimer"></a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>

      <!-- Content -->
    </ng-scrollbar>
  </div>

  <div class="add-quizz">
    <a [routerLink]="['/admin/create']" routerLinkActive="router-link-active">+</a>
  </div>
</div>