<div dnd-droppable (onDropSuccess)="transferDataSuccess($event)" [dropZones]="['attachement']">
  <div class="order bg-quizz">
    <p>
      <a href="">Rubrique
        <span>1</span> sur
        <span>4</span>
      </a>
    </p>
  </div>
  <p class="order-name">
    <input type="text" placeholder="  Nom rubrique">
  </p>
  <div class="parent-content">
    <div *ngFor="let contentQuiz of contentQuizs; let i = index">
      <app-content-rubric [contentQuiz]='contentQuiz'></app-content-rubric>
    </div>

  </div>
</div>