<div dnd-droppable (onDropSuccess)="transferDataSuccess($event)" [dropZones]="['attachement']">
  <div dnd-droppable (onDropSuccess)="transferQuestionSuccess($event)" [dropZones]="['question']">
    <div class="order bg-quizz">
      <p>
        <a href="">Rubrique
          <span>{{position+1}}</span> sur
          <span>{{quizLength}}</span>
        </a>
      </p>
    </div>
    <p class="order-name">
      <input type="text" placeholder="Nom rubrique">
    </p>
    <div class="parent-content">
      <ng-container dnd-sortable-container [sortableData]="contentQuizs" [dropZones]="['container-quiz']">
        <div *ngFor="let contentQuiz of contentQuizs;let j = index" dnd-sortable [sortableIndex]="j">
          <app-content-rubric [contentQuiz]='contentQuiz'></app-content-rubric>
        </div>
      </ng-container>
      <ng-container dnd-sortable-container [sortableData]="questionQuizs" [dropZones]="['container-question']">
        <div *ngFor="let questionQuiz of questionQuizs;let i = index" dnd-sortable [sortableIndex]="i">
          <app-content-rubric-question [questionQuiz]="questionQuiz"></app-content-rubric-question>
        </div>
      </ng-container>

    </div>
  </div>
</div>