.order p{
    margin: 0;
}
.order p>a{
    color: #fff;
    text-decoration: none;
} 
.order{
    border: none;
    width: 100%;
    max-width: 340px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    position: relative;
    padding: 0 15px;
}
.order:after{
    position: absolute;
    content: '';
    width: 83px;
    height: 40px;
    background: url(/assets/images/after-order.png) no-repeat center;
    right: -59px;
    top: 0;
    background-size: 83px 40px;
    cursor: pointer;
}
.order-name{
    padding: 8px 15px;
    background: #fff;
    width: 100%;
    max-width: 300px;
    box-shadow: 1px 1px 7px #ccc;
    border-radius: 0;
}
.order-name{
    font-size: 16px;
    font-family: firasans;
    color: #4a4a4a;
    margin-bottom: 28px;
}
.order-name input{
    border: none;
    width: 100%;
}
.order-name input:focus{
    outline: none;
}

