<p class="title">{{question.description || 'Question (échelle linéaire)'}}</p>
<div class="myrow progress">
  <ul>
    <li *ngFor="let item of question.response_options"
      [ngStyle]="{'max-width': (100/(question.response_options.length - 1)) +'%' }">
      <span class="rond"></span>
      <i>{{item.name}}</i>
    </li>
  </ul>
  <mat-slider step="1" min="1" [max]="question.response_options.length"
  tickInterval="1" (change)="change($event)"></mat-slider>
</div>
<div class="obligatoire" *ngIf="question.is_mandatory">Obligatoire</div>