<app-loader [load]="loading || loadingUsers"></app-loader>
<div id="resultat">
  <div class=" navbar">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 marg-25">
          <a class="title">Réponses du quizz</a>
        </div>
        <div class="col-md-9 col-sm-12">
          <ul class="group-btn">
            <li>
              <button class="btn quizz" routerLink="/admin/list">Quitter ce quizz</button>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- CONTENUE RESULTATS -->
  <div class="container">
    <!-- TOTALE REPONSE -->
    <div class="contenu pad-l-15">
       
      <h2>TOTAL : {{quiz.nb_of_records}} réponses</h2>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="btn-groupe">
            <button class="btn btn-1 inactive" [routerLink]="['/resultat/stat/', quiz.id]">Résumé</button>
            <button class="btn btn-2 active" [routerLink]="['/resultat/preview/', quiz.id]">Individuel</button>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 pull-right reset-float col-xs-12">
          <div class="btn-groupe table">
            <span> Réponses acceptées</span>
            <mat-slide-toggle [(ngModel)]="quizPatch.accept_reponse" (change)="changeQuizPatch()"></mat-slide-toggle>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!quizPatch.accept_reponse">
        <p class="desc">Plus aucun utilisateur ne pourra accéder au quizz.
          <br/> Ceux ayant déjà répondu pourront encore voir leurs réponses et la correction (si actif).
          <br/> Vous pouvez personnaliser le message affiché à l’utilisateur si cette fonction est active :
        </p>
        <div class="form-quizz">
          <div class="myrow textarea">
            <div class="col-sm-12">
              <mat-form-field class="example-full-width">
                <textarea matTextareaAutosize minRows="1" matInput [(ngModel)]="quizPatch.disabled_response_message"
                (change)="changeQuizPatch()"></textarea>
              </mat-form-field>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="contenu pad-l-15 profil">
      <div class="row" *ngFor="let user of users; let userIndex = index" [class.hidden-content]="user.id !== activeUserId">
        <div class="col-sm-5 "><span class="labele">Utilisateur :  </span>
          <mat-form-field class="example-full-width">
            <input class="font" matInput [placeholder]="user.name" value="">
          </mat-form-field>
        </div>
        <div class="col-sm-3 slide">
          <span class="fa fa-angle-left active" (click)="userIndex > 0 && changeUser(users[userIndex - 1])"></span>
          <span class="pg">{{userIndex + 1}}</span> sur 
          <span class="pg">{{users.length}}</span>
          <span class="fa fa-angle-right" (click)="userIndex < users.length - 1 && changeUser(users[userIndex + 1])"></span>
         </div>
        <div class="col-sm-4"><button class="btn btn-quizz valide" (click)="!loadingRemoveUser && removeUser(user)">Supprimer ce profil du quizz</button>  </div>
      </div>
    </div>
    <ng-container *ngFor="let rubrique of quiz.rubriques; let i = index">
      <div class="container">
        <div class="order">
          <p>
            <a>rubrique {{i+1}} sur {{quiz.rubriques.length}}</a>
            <a *ngIf="getRubricTargetScore(rubrique) > 0">({{rubrique.score}}/{{getRubricTargetScore(rubrique)}} points)</a>
          </p>
        </div>
        <p class="order-name">
          <input type="text" [placeholder]="rubrique.name" name="name">
        </p>
      </div>

      <ng-container *ngFor="let question of rubrique.questions">
        <div class="contenu correction pd-40">
          <div class="type-contenu">{{question.type_question.name}} 
            <ng-container *ngIf="question.type_question.slug === 'checkbox' || question.type_question.slug === 'multiple_choice' || question.type_question.slug === 'list_scroll'">
              : {{getQuestionUserScore(question)}}/{{question.point_max}} points </ng-container>
          </div>
          <p class="title">{{question.description}}</p>

          <div *ngIf="question.type_question.slug === 'short_answer'">
            <div class="myrow textarea">
              <mat-form-field class="example-full-width">
                <textarea matInput [(ngModel)]="question.response_inputs[0].value_input"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="question.type_question.slug === 'width_answer'">
            <div class="myrow textarea">
              <mat-form-field class="example-full-width">
                <textarea matInput [(ngModel)]="question.response_inputs[0].value_input"></textarea>
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="question.type_question.slug === 'hour'">
            <div class="myrow textarea">
              <mat-form-field class="example-full-width">
                <input matInput type="time" [(ngModel)]="question.response_inputs[0].value_input">
              </mat-form-field>
            </div>
          </div>

          <div *ngIf="question.type_question.slug === 'date'">
            <div class="myrow textarea">
              <mat-form-field class="example-full-width">
                <input matInput type="date" [(ngModel)]="question.response_inputs[0].value_input">              </mat-form-field>
            </div>
          </div>

          <div *ngIf="question.type_question.slug === 'lineary_scale'">
            <div class="myrow progress">
              <ul>
                <li *ngFor="let item of question.response_options; let i = index;" [ngStyle]="{'max-width': (100/(question.response_options.length - 1)) +'%' }"
                [ngClass]="{selected: i < question.response_inputs[0].value_input || i === question.response_inputs[0].value_input}">
                  <span [class.rond]="!question.smiley"></span>
                  <span [class.smiley]="question.smiley" [attr.data-smiley]="question.content"></span>
                  <i>{{item.name}}</i>
                </li>
              </ul>
              <mat-slider [disabled]="true" [value]="question.response_inputs[0].value_input" step="1" min="1" [max]="question.response_options.length" tickInterval="1"></mat-slider>
            </div>
          </div>

          <div class="list-scroll" *ngIf="question.type_question.slug === 'list_scroll'">
            <p class="relative" *ngFor="let option of question.response_options">
              <span class="tb-cell nb-400 padd" [ngClass]="{'green': option.correct_answer, 'red': !option.correct_answer}">{{option.name}}</span>
              <i class="absolute after-question" *ngIf="findReponse(question.response_inputs, option.slug)">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" *ngIf="option.correct_answer">
                  <path fill="#22BC3F" fill-rule="evenodd" d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4z" />
                </svg>
                <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" *ngIf="!option.correct_answer">
                  <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4l5.6 5.6L5 17.6 6.4 19l5.6-5.6 5.6 5.6 1.4-1.4-5.6-5.6z" fill="#D0021B" fill-rule="evenodd"></path>
                </svg>
              </i>
            </p>
          </div>

          <div *ngIf="question.type_question.slug === 'checkbox'">
            <mat-radio-group>
              <mat-checkbox *ngFor="let option of question.response_options" [checked]="findReponse(question.response_inputs, option.slug)">
                <span class="nb-400 padd " [ngClass]="{'green': option.correct_answer, 'red': !option.correct_answer}">{{option.name}}</span>
                <i class="after-question" *ngIf="findReponse(question.response_inputs, option.slug)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" *ngIf="option.correct_answer">
                    <path fill="#22BC3F" fill-rule="evenodd" d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4z" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" *ngIf="!option.correct_answer">
                    <path fill="#D0021B" fill-rule="evenodd" d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4l5.6 5.6L5 17.6 6.4 19l5.6-5.6 5.6 5.6 1.4-1.4-5.6-5.6z"
                    />
                  </svg>
                </i>
              </mat-checkbox>
            </mat-radio-group>
          </div>

          <div *ngIf="question.type_question.slug === 'multiple_choice'">
            <mat-radio-group>
              <mat-radio-button [value]="i" *ngFor="let option of question.response_options;let i = index" [checked]="findReponse(question.response_inputs, option.slug)">
                <span class="nb-400 padd" [ngClass]="{'green': option.correct_answer, 'red': !option.correct_answer}">{{option.name}}</span>
                <i class="after-question" *ngIf="findReponse(question.response_inputs, option.slug)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" *ngIf="option.correct_answer">
                    <path [attr.fill]="option.correct_answer? '#22BC3F' : '#D0021B'" fill-rule="evenodd" d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4z"
                    />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" *ngIf="!option.correct_answer">
                    <path fill="#D0021B" fill-rule="evenodd" d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4l5.6 5.6L5 17.6 6.4 19l5.6-5.6 5.6 5.6 1.4-1.4-5.6-5.6z"
                    />
                  </svg>
                </i>
              </mat-radio-button>
            </mat-radio-group>
          </div>

        </div>
      </ng-container>
    </ng-container>
  </div>
</div>