<p class="title">{{question.description || 'Question (réponse longue)'}}</p>
<div class="myrow ">
  <mat-form-field class="example-full-width" (change)="change($event)">
    <input matInput [placeholder]="question.placeholder || 'votre réponse'">
  </mat-form-field>
</div>
<div class="obligatoire otherError" *ngIf="!isValid && !ngControl.control.hasError('required')">{{question.constraint?.text_error}}</div>
<div class="obligatoire" *ngIf="question.is_mandatory && ngControl.control.hasError('required')">Obligatoire</div>