/* création quizz
 &&&&&&&&&&&&&&&&&&&&*/

.creation-quizz .liste > ul > li {
  list-style: none;
  display: inline-block;
  float: left;
  width: 50%;
}
.creation-quizz .liste > ul > li > button {
  border-radius: 0;
  background-color: #fff;
  width: 177px;
  text-align: left;
}
.creation-quizz .liste > ul > li > button .caret {
  float: right;
  margin-top: 8px;
  margin-right: 15px;
}
.creation-quizz .liste > .liste2 {
  max-width: 230px;
  margin-right: -30px;
}
.creation-quizz .liste > .liste2 > li:first-child {
  float: left;
  height:42px;
  background: url(/assets/images/theme.png) no-repeat center;
  cursor: pointer;
  margin: 0;
  width: 20%;
  text-align: left;
  transition: 0.3s;
  border-radius: 50%;
}
.creation-quizz .liste > .liste2 > li:first-child:hover,.creation-quizz .liste > .liste2 > li:first-child:active,
.creation-quizz .liste > .liste2 > li:first-child:focus {
  background-color: #fff3;
}
.creation-quizz .liste > .liste2 > li:first-child > a {
  display: block;
  width: 33px;
  height: 34px;
  outline: none;
  box-shadow: none;
}
.creation-quizz .liste > .liste2 > li.open > .dropdown-menu {
  left: -200px;
  width: 231px;
  padding: 10px;
  top: 42px;
  border: 0;
  display: table;
  max-width: 100%;
}
.creation-quizz .liste > .liste2 > li.open > .dropdown-menu > li {
  width: 50px;
  height: 50px;
  margin-left: 1%;
  border: none;
  display: inline-block;
  border: 1px transparent solid;
  transition: 0.3s;
  position: relative;
}

.creation-quizz .liste > .liste2 > li.open > .dropdown-menu > li:hover {
  border-color: #ccc;
}
.creation-quizz .liste > .liste2 > li.open > .dropdown-menu > li > a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding: 0;
}
.creation-quizz .liste > .liste2 > li.open > .dropdown-menu > li > a > input{
  width: 100%;
  border: 0;
  height: 100%;
  border-radius: 50%;
  position: absolute;
    left: 0;
    top: 0;
    background: url(/assets/images/multicolor.png) no-repeat center;
}
.creation-quizz .liste > .liste1 > .btn-group .mat-form-field{
  max-width: 140px;
}
.theme1,
.dropdown-menu > li > a.theme1:focus,
.dropdown-menu > li > a.theme1:hover {
  background-color: #db4437 !important;
}
.theme2,
.dropdown-menu > li > a.theme2:focus,
.dropdown-menu > li > a.theme2:hover {
  background-color: #e91d63 !important;
}
.theme3,
.dropdown-menu > li > a.theme3:focus,
.dropdown-menu > li > a.theme3:hover {
  background-color: #9c26b0 !important;
}
.theme4,
.dropdown-menu > li > a.theme4:focus,
.dropdown-menu > li > a.theme4:hover {
  background-color: #673ab7 !important;
}
.theme5,
.dropdown-menu > li > a.theme5:focus,
.dropdown-menu > li > a.theme5:hover {
  background-color: #3f51b5 !important;
}

.theme6,
.dropdown-menu > li > a.theme6:focus,
.dropdown-menu > li > a.theme6:hover {
  background-color: #4285f4 !important;
}
.theme7,
.dropdown-menu > li > a.theme7:focus,
.dropdown-menu > li > a.theme7:hover {
  background-color: #03a9f4 !important;
}
.theme8,
.dropdown-menu > li > a.theme8:focus,
.dropdown-menu > li > a.theme8:hover {
  background-color: #02bcd4 !important;
}
.theme9,
.dropdown-menu > li > a.theme9:focus,
.dropdown-menu > li > a.theme9:hover {
  background-color: #009688 !important;
}
.theme10,
.dropdown-menu > li > a.theme10:focus,
.dropdown-menu > li > a.theme10:hover {
  background-color: #0f9d58 !important;
}
.theme11,
.dropdown-menu > li > a.theme11:focus,
.dropdown-menu > li > a.theme11:hover {
  background-color: #cddc39 !important;
}
.theme12,
.dropdown-menu > li > a.theme12:focus,
.dropdown-menu > li > a.theme12:hover {
  background-color: #ff9800 !important;
}
.theme13,
.dropdown-menu > li > a.theme13:focus,
.dropdown-menu > li > a.theme13:hover {
  background-color: #795548 !important;
}
.theme14,
.dropdown-menu > li > a.theme14:focus,
.dropdown-menu > li > a.theme14:hover {
  background-color: #9e9f9e !important;
}
.theme15,
.dropdown-menu > li > a.theme15:focus,
.dropdown-menu > li > a.theme15:hover {
  background-color: #607d8b !important;
}
.theme16 {
  background: url(/assets/images/multicolor.png) no-repeat center;
}

.creation-quizz .liste > .liste2 > li:last-child {
  margin-left:0px;
  width: 65%;
  float: right;
  padding: 6px 0;
}
.creation-quizz .liste > .liste2 > li {
  float: left;
  margin-left: 15px;
}

.creation-quizz .liste > .liste2 > li > .btn {
  color: #fc6100;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  width: 165px;
  font-size: 12px;
  float: right;
  text-align: center;
}
.creation-quizz .liste {
  display: table;
  width: 100%;
}
.creation-quizz .liste1 {
  width: 40%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 6px 0;
}
.creation-quizz .liste2 {
  width: 100%;
  float: right;
  list-style: none;
  max-width: 260px;
  margin: 0;
}
.creation-quizz .open > .dropdown-menu {
  max-width: 177px;
}

.creation-quizz .mat-expansion-panel-header-title {
  color: #5f5f5fde;
  font-size: 13px;
  font-family: firasans;
  
}


@media (max-width: 992px) {
  .creation-quizz .liste1 {
    width: 54%;
  }
}
@media (max-width: 768px) {
  .creation-quizz .liste > .liste1 > .btn-group .mat-form-field{
    max-width: 100%;
  }
  .creation-quizz .liste1 {
    width: 100%;
    margin-bottom: 15px;
  }
  .creation-quizz .liste1 .btn-group .btn {
    float: right;
    width: 100%;
  }
  .creation-quizz .liste2 {
    width: 100%;
    float: none;
    margin: 0 auto!important;
    display: table;
    max-width: 100%!important;
  }
  .creation-quizz .liste .liste2 li:first-child{
    width: 7%;
    text-align: left;
    min-width: 32px;
  }
  .creation-quizz .liste .liste2 li:first-child>a{
    display: inline;
  }
  .creation-quizz .liste .liste2 li:last-child{
    width: 88%;
    padding: 6px 0;
  }
  .creation-quizz .liste > .liste2 > li > .btn{
    width: 100%;
    border-radius: 0;
  }

  .creation-quizz .liste .liste1 li .mat-form-field{
    max-width: 100%;
  }
  .creation-quizz .liste > .liste1 > li.title{
    width:200px;
  }
  .creation-quizz .liste > .liste1 > li.btn-group{
    width: 100%;
  }
}

@media (max-width: 530px) {
  .creation-quizz .liste .liste1 li {
    width: 100%;
    float: none;
    text-align: left;
  }
  .creation-quizz .liste1 .btn-group .btn {
    float: none;
    width: 100%;
  }
  .creation-quizz .open > .dropdown-menu {
    width: 100%;
    margin-top: 0;
  }
  .creation-quizz .liste2{
    margin: 0;
  }
}

/* FORM INPUT
&&&&&&&&&&&&&&& */
.form-quizz .myrow .mat-form-field{
  font-weight: 700;
}
.mat-form-field {
  width: 100%;
  max-width: 290px;
}
#creation-quizz {
  min-height: 655px;
  background-color: rgba(0, 0, 0, 0.03)!important;
}
#creation-quizz .bg {
  padding-bottom: 15px;
  margin-bottom: 15px;
}
/* #creation-quizz .bg:after{
  position: absolute;
  bottom: 3%px;
  width: 100%;
  height: 22px;
  content: 'Glissez un élément içi pour commencer';
  font-family: 'firasans';
  font-size: 18px;
  color: #95a5a6;
  font-weight: 200;
  text-align: center;
  opacity: 0.5;
} */

.form-quizz .myrow {
  background-color: #fff;
  padding: 15px;
  box-shadow: 1px 1px 9px #e2e2e2;
  margin-bottom: 10px;
  margin-right: 0px;
}
.form-quizz .myrow.textarea {
  padding-bottom: 60px;
}
@media (max-width: 768px) {
  .form-quizz .myrow {
    margin-left: 0;
    margin-right: 0;
  }
}

.rubrique {
  min-height: 100px;
}
.relative{
  position: relative;
}
@media (max-width:768px){
  .relative{
      position: absolute;
  }
  .relative app-quiz-question {
    position: fixed;
    right: -170px;
    bottom: 0;
    margin: auto;
    opacity: 1;
    transition: 0.3s;
    box-shadow: -3px 3px 10px #ccc;
    z-index: 2;
    overflow: visible;
  }
  .relative app-quiz-question:hover{
    right: 0;    
  }
  .relative app-quiz-question:before{
    display: block;
    width: 40px;
    height: 60px;
    background:#fff url(/assets/images/resp-menu.png) no-repeat center;
    position: absolute;
    content: '';
    z-index: 100;
    left: -40px;
    transition:0.3s;
    box-shadow: 7px -2px 12px #d0d0d0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .relative app-quiz-question:hover:before{
    transform: rotate(180deg);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }

}
