<!-- création quizz  -->
<ng2-toasty [position]="'top-right'"></ng2-toasty>
<div id="creation-quizz">

  <div class="navbar creation-quizz bg-quizz" [ngClass]="{'cssClass': finishQuizz}" [style.background-color]="colorCss" [style.border-color]="colorCss">

    <div class="container">
      <div class="liste">
        <ul class="liste1">
          <li class="title">
            <a *ngIf="isUpdateQuizz">Modification de quizz</a>
            <a *ngIf="!isUpdateQuizz">Création de quizz</a>
          </li>
          <li class="btn-group" dropdown *ngIf="!finishQuizz">

            <mat-form-field floatPlaceholder="never">
              <mat-select panelClass="example-panel" [(ngModel)]="newQuiz.is_anonyme">
                <mat-option *ngFor="let typeQuestion of typeQuestions" [value]="typeQuestion.value">
                  {{typeQuestion.type}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </li>
        </ul>

        <ul class="liste2 theme" *ngIf="!finishQuizz">
          <li class="btn-group" dropdown [autoClose]="autoCloseDropDown" #dropdown="bs-dropdown">
            <a dropdownToggle type="button" class="btn-theme dropdown-toggle" aria-controls="dropdown-basic"></a>
            <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
              <li role="theme " class="theme" *ngFor="let color of colors">
                <a class="dropdown-item theme{{color.id}}" (click)="changeColor(color.value);dropdown.hide()"></a>
              </li>
              <li role="theme " class="theme ">
                <a class="dropdown-item theme16" (click)="autoCloseDropDown = false">
                  <input [(colorPicker)]="color" [cpOKButton]="true" (colorPickerSelect)="changeColor(color);dropdown.hide();autoCloseDropDown = true"
                  />
                </a>

              </li>
            </ul>
          </li>
          <li>
            <button class="btn" (click)="saveQuiz()" [disabled]="!newQuiz.name || !newQuiz.description ||isSuperAdmin && newQuiz.enterprise_forms.length===0"
              [style.color]="colorCss">FINALISER LE QUIZZ</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="!finishQuizz">
    <app-loader [load]="savingLoad"></app-loader>
    <div class="row">
      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 bg">
        <div class="form-quizz">
          <div class="myrow">
            <mat-form-field class="example-full-width">
              <!-- floatPlaceholder="never" -->
              <input matInput placeholder="Nom Quizz" value="" name="" [(ngModel)]="newQuiz.name" required>
            </mat-form-field>
          </div>

          <div class="myrow textarea">
            <mat-form-field class="example-full-width">
              <textarea matTextareaAutosize minRows="1" matInput placeholder="Description" name="" [(ngModel)]="newQuiz.description" required></textarea>
            </mat-form-field>
          </div>
          <div class="myrow" *ngIf="isSuperAdmin">
            <mat-form-field class="example-full-width">
              <!-- floatPlaceholder="never" -->
              <input matInput placeholder="Choisissez les entreprises" name="searchEntreprise" [(ngModel)]="searchEntreprise" (ngModelChange)="onChangeEntreprise($event)">
            </mat-form-field>
            <!-- <div class="input-group">
                <input class="form-control " type="text" [(ngModel)]="searchEntreprise" (ngModelChange)="onChangeEntreprise($event)">
              </div> -->
            <div class="list-autocomplete" (click)="clickedInside($event)">
              <div *ngFor="let item of enterprisesItems">
                <span (click)="selectEnterprise(item)">{{item.enterprise_name}}</span>
              </div>

            </div>
            <div class="list-selected">
              <div *ngFor="let item of newQuiz.enterprise_forms">
                <span>{{item.enterprise_name}}</span>
                <span (click)="deleteSelectEnterprise(item)" class="close">&times;</span>
              </div>
            </div>

          </div>
        </div>

        <div class="rubrique ngx-dnd-container" ngxDroppable [removeOnSpill]="false" [model]="newQuiz.rubriques" dropZone="restricted-rubric"
          (drop)="dropSuccess()" (out)="out()">
          <div class="ngx-dnd-item" ngxDraggable *ngFor="let rubric of newQuiz.rubriques; let x = index" [model]="rubric " dropZone="restricted-rubric">
            <app-quiz-rubric [hideContentRubric]="hideContentRubric" (deleteRubrique)="deleteRubrique($event)" [newQuiz]="newQuiz" [position]="x"
              [quizLength]="newQuiz.rubriques.length" [isUpdateQuizz]="isUpdateQuizz" [newRubrique]="rubric" [colorCss]="colorCss"></app-quiz-rubric>
          </div>
        </div>


      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 relative">
        <app-quiz-question [colorCss]="colorCss" (dragRubric)="dragRubric($event)">
          <!-- <em class="resp-menu"></em> -->
        </app-quiz-question>
      </div>
    </div>
  </div>
  <div *ngIf="finishQuizz">
    <app-finish-quizz [finishQuizzId]="finishQuizzId" [finishQuizzUidQuizz]="finishQuizzUidQuizz" [newQuizz]="newQuiz" [quizzStateAnonyme]="quizzStateAnonyme"></app-finish-quizz>
  </div>
</div>