
<!-- création quizz  -->
<div id="creation-quizz">
<div class="navbar creation-quizz bg-quizz">
    <div class="container">
        <div class="liste">
          <ul class="liste1">
              <li class="title"><a>Création de quizz</a></li>
              <li class="btn-group" dropdown>
                  <button dropdownToggle type="button" class="btn dropdown-toggle"
                          aria-controls="dropdown-basic">
                          Nominatif <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" href="#">Anonyme</a></li>
                  </ul>
              </li>
          </ul>

          <ul class="liste2 theme">
            <li class="btn-group" dropdown>
              <a dropdownToggle type="button" class="btn-theme dropdown-toggle" aria-controls="dropdown-basic"></a>
              <ul *dropdownMenu class="dropdown-menu"
                  role="menu" aria-labelledby="button-basic">
                <li role="theme " class="theme theme1"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme2"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme3"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme4"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme5"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme6"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme7"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme8"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme9"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme10"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme11"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme12"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme13"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme14"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme15"><a class="dropdown-item" href="#"></a></li>
                <li role="theme " class="theme theme16"><a class="dropdown-item" href="#"></a></li>
              </ul>
            </li>
            <li><button class="btn">Finalisation de quizz</button></li>
          </ul>
        </div>
    </div>
  </div> 

  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-sm-8 col-xs-12">
          <div class="form-quizz">
              <div class="row">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Nom quizz" value="Sushi">
                </mat-form-field>
              </div>
        
              <div class="row">
                <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Description"></textarea>
                  </mat-form-field>
              </div>
            </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-xs-12">
        <app-quiz-question></app-quiz-question>
      </div>
    </div>
  </div>
</div>

