

<!-- création quizz  -->
<!-- <div class="navbar creation-quizz bg-quizz">
    <div class="container">
        <div class="liste">
          <ul class="liste1">
              <li class="title"><a>Création de quizz</a></li>
              <li class="btn-group" dropdown>
                  <button dropdownToggle type="button" class="btn dropdown-toggle"
                          aria-controls="dropdown-basic">
                          Nominatif <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" href="#">Anonyme</a></li>
                  </ul>
              </li>
          </ul>

          <ul class="liste2 theme">
            <li><a href="" title="theme"></a></li>
            <li><button class="btn">Finalisation de quizz</button></li>
          </ul>
        </div>
    </div>
  </div> -->

  <router-outlet></router-outlet>



