<p class="title">{{question.description || 'Question (liste déroulante)'}}</p>
<div class="myrow date">
  <mat-form-field class="border-none-color">
    <mat-select [placeholder]="question.placeholder || 'Sélectionnez'" (change)="change($event)" class="border-none-color">
      <mat-option *ngFor="let option of question.response_options" [value]="option.slug">
        {{option.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="obligatoire" *ngIf="question.is_mandatory">Obligatoire</div>