<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      QUESTION
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>


  <ul id="quetsion">
    <ng-scrollbar #scrollRef [trackY]="true" [trackX]="false">
      <li *ngFor="let question of questions" dnd-draggable [dragEnabled]="true" [dragData]="question" [dropZones]="['question']">
        <a href="">{{question.name}}</a>
      </li>
    </ng-scrollbar>
  </ul>

</mat-expansion-panel>
<ul id="attachement">
  <li class="question text" dnd-draggable [dragEnabled]="true" [dragData]="'text'" [dropZones]="['attachement']">
    <a>TEXT</a>
  </li>
  <li class="question img" dnd-draggable [dragEnabled]="true" [dragData]="'image'" [dropZones]="['attachement']">
    <a>IMAGES</a>
  </li>
  <li class="question embed" dnd-draggable [dragEnabled]="true" [dragData]="'video'" [dropZones]="['attachement']">
    <a>Embed</a>
  </li>
  <li class="question rubrique" dnd-draggable [dragEnabled]="true" [dragData]="rubric" [dropZones]="['rubric']">
    <a>Rubrique</a>
  </li>
</ul>