<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title>
      QUESTION
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ul id="quetsion">

    <li *ngFor="let question of questions" dnd-draggable [dragEnabled]="true" [dragData]="question" [dropZones]="['question']">
      <a href="">{{question.name}}</a>
      <li class="question text" dnd-draggable [dragEnabled]="true" [dragData]="'text'" [dropZones]="['attachement']">
        <a href="">TEXT</a>
      </li>
      <li class="question img" dnd-draggable [dragEnabled]="true" [dragData]="'image'" [dropZones]="['attachement']">
        <a href="">IMAGES</a>
      </li>
      <li class="question embed" dnd-draggable [dragEnabled]="true" [dragData]="'video'" [dropZones]="['attachement']">
        <a href="">Embed</a>
      </li>
      <li class="question rubrique" dnd-draggable [dragEnabled]="true" [dragData]="rubric" [dropZones]="['rubric']">
        <a href="">Rubrique</a>
      </li>
  </ul>

</mat-expansion-panel>