#attachement, #quetsion {
    padding: 0;
    margin: 0;
}
#attachement  li, #quetsion  li{
    list-style: none;
    display: block;
    height: 60px;
    background-color: #f9f9f9;
    margin: 0;
    font-family: Firasans;
    font-size: 13px;
    font-weight: 200;
    line-height: 60px;
    text-align: left;
    padding: 0 26px;
    position: relative;
    border-bottom: 1px #e6e2e2 solid;
}
#attachement li:hover, #quetsion  li:hover{
    background-color: #fff;
}
#attachement li ul>li, #quetsion  li ul>li{
    height: auto;
}
#attachement  li>a, #quetsion  li>a{
    color: #000;
    text-decoration: none;
    font-size: inherit;
}
#attachement  li.question>a, #quetsion  li.question>a{
  letter-spacing: 0.5px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6);
}
.mat-expansion-panel{
    box-shadow: 1px 1px 11px #ccc!important;
    border-radius: 0;
}
#attachement  li.question:before, #quetsion  li.question:before{
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    background: url(/assets/images/question.png) no-repeat center;
    left: 10px;
    top: 10px;
    background-size: 35px 150px;
}
#attachement   li.question.text:before, #quetsion  li.question.text:before{
    background-position: 0px -113px;
}
#attachement   li.question.img:before, #quetsion  li.question.img:before{
    background-position: 0px -75px;
}
#attachement   li.question.embed:before, #quetsion  li.question.embed:before{
    background-position: 0px -37px;
}
#attachement   li.question.rubrique:before, #quetsion  li.question.rubrique:before{
    background-position: 0px 2px;
}
#attachement  li.question, #quetsion  li.question{
    padding-left: 80px;
}
.mat-expansion-panel-header-title{
    color: #797979;
    font-family: firasans;
    font-size: 13px;
    font-weight: 600;
    width: 100%;
    margin: 0;
    padding-left: 24px;

}
.mat-expansion-panel-header{
    position: relative;
}
.mat-expansion-panel-header:before{
    position: absolute;
    content: "+";
    width: 25px;
    height: 25px;
    background-color: #fc6100;
    color: #fff;
    border-radius: 50%;
    left: 15px;
    text-align: center;
    font-size: 19px;
    line-height: 23px;
}
#quetsion ng-scrollbar{
    height: 240px;
}
mat-expansion-panel-header{
    height: 60px!important;
}


