<app-loader [load]="loading">
</app-loader>
<header *ngIf="quiz">
  <div class="nav-front">
    <div class="container">
      <h1>{{quiz.name}}</h1>
      <!-- <p>{{quiz.description}} -->
      <p>Vous venez de finalisez le quizz. </p>
      <h1 *ngIf="quiz.read_score">Votre score final est de {{getScoreClient(quiz)}}/{{getAllScoreRubrique(quiz)}}.
      </h1>
      <p>Vous pouvez consultez le détail de vos points ci-dessous.</p>
    </div>
  </div>
</header>
<div class="front-rubrique" *ngIf="quiz">
  <div class="container">
    <div class="contenu pad-contenu-collaps container">
      <div *ngFor="let rubric of quiz.rubriques;let i = index">
        <div class="order">
          <p>
            <a *ngIf="quiz.read_score && rubric.score > 0 && getStrLength2(rubric.name)" [matTooltip]="'Total des points '+ rubric.name + ': '+rubric.score+'/'+getScoreRubrique(rubric)">Total des points {{rubric.name}} :
              <span>{{rubric.score}}</span>/
              <span>{{getScoreRubrique(rubric)}}</span>
            </a>
            <a *ngIf="quiz.read_score && rubric.score > 0 && !getStrLength2(rubric.name)">Total des points {{rubric.name}} :
              <span>{{rubric.score}}</span>/
              <span>{{getScoreRubrique(rubric)}}</span>
            </a>
            <a *ngIf="(!quiz.read_score || !rubric.score || rubric.score < 0 || rubric.score === 0) && getStrLength(rubric.name)" [matTooltip]="rubric.name">{{rubric.name}}
            </a>
            <a *ngIf="(!quiz.read_score || !rubric.score || rubric.score < 0 || rubric.score === 0) && !getStrLength(rubric.name)">{{rubric.name}}
            </a>
          </p>
          <button type="button" (click)="isCollapsed[i] = !isCollapsed[i]" [attr.aria-expanded]="!isCollapsed[i]" aria-controls="collapseBasic">
            <span class="caret"></span>
          </button>
        </div>
        <div id="collapseBasic" [collapse]="!isCollapsed[i]" class="card card-block card-header">

          <div class="well well-lg" *ngFor="let content of rubric.contents_rubriques">
            <div *ngIf="content.type_content === 'metaContent'">
              <app-front-image [question]="content" *ngIf="content.type === 'image'"></app-front-image>
              <app-front-text [content]="content.content" *ngIf="content.type === 'texte'"></app-front-text>
              <app-front-video [content]="content.content" *ngIf="content.type === 'video'"></app-front-video>
              <app-front-embed [content]="content.content" *ngIf="content.type === 'embed'"></app-front-embed>
            </div>
            <div *ngIf="content.type_content === 'question'">
              <app-quizz-correction-question [question]="content" [quiz]="quiz"></app-quizz-correction-question>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="quiz">
  <div class="front-rubrique">

    <div class="new-page">
      <p class="suivant">Quitter</p>
    </div>
  </div>
</ng-container>