
h3{
  font-size: 16px;
  font-weight: 700;
  color: #4f5e65;
}
.form-quizz h3{
  max-width: 280px;
  border-bottom: 1px #ccc solid;
  padding-bottom: 15px;
  margin-bottom: 25px;
  margin-left: 20px;
}
.type-contenu {
  width: 29%;
  float: right;
  position: relative;
  height: 40px;
  background-color: #0003;
  padding: 11px;
  padding-left: 2%;
  color: #fff;
  font-size: 18px;
}
.type-contenu.text {
  padding-left: 2%;
}

.type-contenu.img:before {
  position: absolute;
  content: '';
  width: 25px;
  height: 18px;
  background: url(/assets/images/picto-image.png) no-repeat center;
  background-size: contain;
  left: 14px;
}
.prent-content-drop .content-drop {
  padding-bottom: 56px;
  padding-left: 40px;
  padding-right: 40px;
}
.prent-content-drop .content-drop img {
  width: 100%;
  height: auto;
}
.content-drop {
  position: relative;
}
.content-drop > .outils {
  position: absolute;
  bottom: 70px;
  width: 100px;
  height: 32px;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.content-drop > .outils > .w-50 {
  width: 46%;
  float: left;
  height: 32px;
  margin: 2%;
  cursor: pointer;
}
.content-drop > .outils > .w-50:first-child {
  background: url(/assets/images/format1.jpg) no-repeat center;
  background-size: contain;
}
.content-drop > .outils > .w-50:last-child {
  background: url(/assets/images/format2.jpg) no-repeat center;
  background-size: contain;
}

.prent-content-drop {
  background-color: #fff;
  position: relative;
}
.prent-content-drop > .support {
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  content: '';
  width: 20px; 
  height: 20px;
  background: url(/assets/images/deplace.png) no-repeat;
  background-size: contain;
  cursor: move;
}
.l-deroulant.echelle ol li:after,
.l-deroulant.echelle ol li:before{
  display: none;
}
.mat-select-trigger{
  width: 100%;
}
.q-courte .q-child .mat-form-field-label{
  color: #4a4a4a;
  font-size: 15px;
  font-weight: normal;
  font-family: firaSans;
}
.form-quizz table, .form-quizz{
  width: 100%;
  display: table;
}

.l-deroulant ol{
  margin-left: 45px;
  max-width: 290px;
  width: 100%;
  margin-left: 67px;
}
.l-deroulant ol li,
.l-deroulant ol li>.txt{
  position: relative;
  margin-bottom: 15px;
  color: #4f5e65;
  font-size: 15px;
  padding-left: 13px;
  cursor: pointer;
  border:0;
  margin-top: 8px;
  list-style: none;
}
.l-deroulant ol.c-coche li{
  list-style: none;
}
.l-deroulant.deroulant-custome ol.c-coche li,
.l-deroulant.echelle ol li{
  list-style: inherit;
  font-size: 15px;
  padding-left: 13px;
}
.l-deroulant ol li:before{
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: url(/assets/images/deplace-v.png) no-repeat center;
  content: "";
  left: -68px;
  top: 5px;
  background-size: contain;
  cursor: move;
}
.l-deroulant.deroulant-custome ol li:after{
  display: none;
}
.l-deroulant.deroulant-custome ol li:before{
 left: -50px;
}
.l-deroulant.deroulant-custome ol{
  margin-left: 50px;
}
.l-deroulant ol li:after{
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  left: -30px;
  top: 5px;
  border: 2px #ccc solid;
  border-radius: 50%;

}
.l-deroulant ol.c-coche li:after{
  border-radius: 2px;
}
.l-deroulant ol li:last-child:before{
  display: none;
}
.l-deroulant ol li:last-child{
  font-style: italic;
}

.l-deroulant ol li>span{
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  float: right;
  background: url(/assets/images/close.png) no-repeat center;
  background-size: contain;
  opacity: 0.3;
  position: absolute;
  right: -25px;
}
.l-deroulant ol li>span:hover{
  opacity: 0.9;
  border-radius: 50%;
  box-shadow:1px 1px 10px #c5c5c5;
}

/* CASE A COCHER
&&&&&&&&&&&&&&&&&*/

.l-deroulant.c-coche ol li{
  list-style: none;
  position: relative;
}


.l-deroulant.c-coche ol li:before{
  left: -90px;
}

.form-quizz .no-border .mat-form-field{
  background-color: #fafafa;
}
.form-quizz .no-border .mat-form-field:hover{
  background-color: #ececec;
}




@media(max-width:992px){
  .content-drop .groupe-btn .btn.edite{
    width: auto;
    font-size: 0px;
    color: #fff;
  }

}
@media(max-width:768px){
  .content-drop .groupe-btn{
    position: static;
  }


  .prent-content-drop .content-drop{
    padding: 0!important;
  }

  .l-deroulant ol{
  }
  .l-deroulant.c-coche ol{
    margin-left: 90px;
   }
  .l-deroulant ol li > span{
    position: absolute;
    right: 0;
    top: 0;
  }

}

@media(max-width:533px){
  .w-100{
    width: 100%!important;
    display: block;
    float: none;
    clear: both;
  }

}