

<div class="prent-content-drop">
  <div class="support"></div>
  <div class="type-contenu">{{_questionQuiz.name}}</div>
  <div class="content-drop">


  <!-- choix multiple -->
    <div *ngIf="_questionQuiz.value === 'multiple_choice'">
      <div class="form-quizz l-deroulant ">
          <div class="row">
              <h3>Question</h3>
              <div class="col-md-8 col-sm-12">
                  <ol class="plus rond">
                    <li>
                        <mat-form-field class="example-full-width mat-form-field">
                            <input matInput placeholder="Option1" value="">
                        </mat-form-field>
                        <span class="fermer"></span>
                    </li>
                    <li>
                        <mat-form-field class="example-full-width mat-form-field">
                            <input matInput placeholder="Option1" value="">
                        </mat-form-field>
                        <span class="fermer"></span>
                    </li>
                    <li>
                        <mat-form-field class="example-full-width mat-form-field">
                            <input matInput placeholder="Autre ..." value="">
                        </mat-form-field>
                        <span class="fermer"></span>
                    </li>
                    <li>
                        <mat-form-field class="example-full-width mat-form-field">
                            <input matInput placeholder="Ajouter option ou AJOUTER AUTRE" value="">
                        </mat-form-field>
                    </li>
                  </ol>
              </div>
              <div class="col-md-4 col-sm-12 no-border pad-21" >
                <div class="contenu-resp">
                  <mat-form-field>
                    <mat-select placeholder="Passer à la section suivante" >
                      <mat-option [value]="page">
                          Passer à la section suivante
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field>
                      <mat-select placeholder="Passer à la section Lorem" >
                        <mat-option  [value]="page">
                            Passer à la section Lorem
                        </mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder=" Envoyer le formulaire  select1" >
                          <mat-option [value]="page">
                             Envoyer le formulaire  select1
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
              </div>
            </div>
      </div>
    </div>
    <!--fin choix multiple -->

    <!-- case a cocher -->
    <div *ngIf="_questionQuiz.value === 'checkboxes'">
      <div class="col-sm-12">
          <div class="form-quizz l-deroulant ">
              <div class="row">
                  <h3>Question</h3>
                  <div class="col-md-8 col-sm-12">
                      <ol class="plus c-coche">
                        <li>
                            <mat-form-field class="example-full-width mat-form-field">
                                <input matInput placeholder="Option1" value="">
                            </mat-form-field>
                            <span class="fermer"></span>
                        </li>
                        <li>
                            <mat-form-field class="example-full-width mat-form-field">
                                <input matInput placeholder="Option1" value="">
                            </mat-form-field>
                            <span class="fermer"></span>
                        </li>
                        <li>
                            <mat-form-field class="example-full-width mat-form-field">
                                <input matInput placeholder="Autre ..." value="">
                            </mat-form-field>
                            <span class="fermer"></span>
                        </li>
                        <li>
                            <mat-form-field class="example-full-width mat-form-field">
                                <input matInput placeholder="Ajouter option ou AJOUTER AUTRE" value="">
                            </mat-form-field>
                        </li>
                      </ol>
                  </div>
                </div>
          </div>
      </div>
    </div>
     <!--fin case a cocher -->
    <!-- question courte -->
    <div *ngIf="_questionQuiz.value === 'short_answer'">
      <div class="form-quizz q-courte ">
        <div class=" col-sm-12">
          <div class="myrow">
            <mat-form-field class="example-full-width mat-form-field">
              <input matInput placeholder="Question" value="">
            </mat-form-field>
          </div>

          <div class="myrow textarea">
            <mat-form-field class="example-full-width mat-form-field">
              <textarea matInput placeholder="Réponse courte ..."></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="col-sm-12 q-child">
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
              <table class="w-100">
                <tr>
                  <td class="w-100">
                    <mat-form-field>
                      <mat-select placeholder="Nombre" >
                        <mat-option *ngFor="let page of [1,2,3]" [value]="page">
                         select1
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td  class="w-100">
                    <mat-form-field>
                      
                      <mat-select placeholder="Superieur à" >
                        <mat-option *ngFor="let page of [1,2,3]" [value]="page">
                          select2
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                </tr>
              </table>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
             <div class="row">
               <div class="col-sm-6 label-italic">
                  <mat-form-field class="example-full-width mat-form-field">
                      <input matInput placeholder="Question" value="">
                    </mat-form-field>
               </div>
               <div class="col-sm-6 textarea">
                  <mat-form-field class="example-full-width mat-form-field">
                      <textarea matInput placeholder="Texte d'erreur personnalisé ..."></textarea>
                    </mat-form-field>
               </div>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- question long -->
    <div *ngIf="_questionQuiz.value === 'long_answer'">
      <div class="form-quizz q-long">
        <div class=" col-sm-12">
          <div class="myrow">
            <mat-form-field class="example-full-width mat-form-field">
              <input matInput placeholder="Question" value="">
            </mat-form-field>
          </div>

          <div class="myrow textarea">
            <mat-form-field class="example-full-width mat-form-field">
              <textarea matInput placeholder="Réponse longue ..."></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>

    <!-- liste deroulant -->
    <div *ngIf="_questionQuiz.value === 'select'">
        <div class="form-quizz l-deroulant deroulant-custome ">
            <div class="row">
                <h3>Question</h3>
                <div class="col-md-8 col-sm-12">
                    <ol class="plus c-coche">
                      <li>
                          <mat-form-field class="example-full-width mat-form-field">
                              <input matInput placeholder="Option1" value="">
                          </mat-form-field>
                          <span class="fermer"></span>
                      </li>
                      <li>
                          <mat-form-field class="example-full-width mat-form-field">
                              <input matInput placeholder="Option1" value="">
                          </mat-form-field>
                          <span class="fermer"></span>
                      </li>
                      <li>
                          <mat-form-field class="example-full-width mat-form-field">
                              <input matInput placeholder="Autre ..." value="">
                          </mat-form-field>
                          <span class="fermer"></span>
                      </li>
                      <li>
                          <mat-form-field class="example-full-width mat-form-field">
                              <input matInput placeholder="Ajouter option ou AJOUTER AUTRE" value="">
                          </mat-form-field>
                      </li>
                    </ol>
                </div>
              </div>
        </div>
    </div>

    <!-- echelle lineaire -->
    <div *ngIf="_questionQuiz.value === 'dropdown_list'">
      <div class="row">
        <div class="col-md-8">
            <div class="form-quizz l-deroulant echelle">
                <h3>Question</h3>
                <ol class="plus">
                  <li>
                    <mat-form-field class="example-full-width mat-form-field">
                      <input matInput placeholder="Réponse 1 (obligatoire)" value="">
                  </mat-form-field>
                   <span class="fermer"></span>
                  </li>
                  <li>
                    <mat-form-field class="example-full-width mat-form-field">
                      <input matInput placeholder="Réponse 1 (facultatif)" value="">
                    </mat-form-field>
                     <span class="fermer"></span>
                  </li>
                  <li>
                    <mat-form-field class="example-full-width mat-form-field">
                      <input matInput placeholder="Réponse 1 (obligatoire)" value="">
                    </mat-form-field>
                     <span class="fermer"></span>
                  </li>
                  <li>
                    <mat-form-field class="example-full-width mat-form-field">
                      <input matInput placeholder="Réponse 1 (facultatif)" value="">
                    </mat-form-field>
                     <span class="fermer"></span>
                  </li>
                  <li>
                    <mat-form-field class="example-full-width mat-form-field">
                      <input matInput placeholder="Réponse 1 (obligatoire)" value="">
                    </mat-form-field>
                     <span class="fermer"></span>
                  </li>
                  <li>
                    <mat-form-field class="example-full-width mat-form-field">
                      <input matInput placeholder="Réponse 1 (facultatif)" value="">
                    </mat-form-field>
                     <span class="fermer"></span>
                  </li>
                  <li>
                    <mat-form-field class="example-full-width mat-form-field">
                      <input matInput placeholder="Réponse 1 (facultatif)" value="">
                    </mat-form-field>
                     <span class="fermer"></span>
                  </li>
                </ol>
              </div>
        </div>
        <div class="col-md-4">
            <p>select...</p>
        </div>
       
      </div>
    </div>
    <!--fin echelle lineaire -->
    <div *ngIf="_questionQuiz.value === 'date'">
      date
    </div>
    <div *ngIf="_questionQuiz.value === 'hour'">
      heure 
    </div>
    

      <div class="groupe-btn">
        <div class="row">
          <div class="col-md-2 col-sm-1 col-xs-1 ">
              <button class="btn edite"><span class="edit"></span>Corriger</button>
          </div>
          <div class="col-md-4 col-sm-10 col-xs-10 pull-right">
              <table>
                <tr>
                  <td><button class="btn btn-suppr"></button></td>
                  <td><mat-slide-toggle>Slide me!</mat-slide-toggle></td>
                  <td><button class="menu"></button></td>
                </tr>
              </table>
            </div>
        </div>
        
      </div>


          

  </div>
 

</div>