.type-contenu {
  width: 29%;
  float: right;
  position: relative;
  height: 40px;
  background-color: #0003;
  padding: 11px;
  padding-left: 2%;
  color: #fff;
  font-size: 18px;
}
.type-contenu.text {
  padding-left: 2%;
}

.type-contenu.img:before {
  position: absolute;
  content: '';
  width: 25px;
  height: 18px;
  background: url(/assets/images/picto-image.png) no-repeat center;
  background-size: contain;
  left: 14px;
}
.prent-content-drop .content-drop {
  padding-bottom: 56px;
  padding-left: 40px;
  padding-right: 40px;
}
.prent-content-drop .content-drop img {
  width: 100%;
  height: auto;
}
.content-drop {
  position: relative;
}
.content-drop > .outils {
  position: absolute;
  bottom: 70px;
  width: 100px;
  height: 32px;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.content-drop > .outils > .w-50 {
  width: 46%;
  float: left;
  height: 32px;
  margin: 2%;
  cursor: pointer;
}
.content-drop > .outils > .w-50:first-child {
  background: url(/assets/images/format1.jpg) no-repeat center;
  background-size: contain;
}
.content-drop > .outils > .w-50:last-child {
  background: url(/assets/images/format2.jpg) no-repeat center;
  background-size: contain;
}
/* .content-drop::after {
  position: absolute;
  content: '';
  width: 54px;
  height: 54px;
  background: url(/assets/images/delete.png) no-repeat center;
  background-size: 26px 26px;
  right: -40px;
  bottom: 0;
  cursor: pointer;
  border: 1px #dedcdc solid;
} */
.prent-content-drop {
  background-color: #fff;
  position: relative;
}
.prent-content-drop > .support {
  position: absolute;
  top: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background: url(/assets/images/deplace.png) no-repeat;
  background-size: contain;
  cursor: move;
}
.mat-select-trigger{
  width: 100%;
}
.q-courte .q-child .mat-form-field-label{
  color: #4a4a4a;
  font-size: 15px;
  font-weight: normal;
  font-family: firaSans;
}
.form-quizz table, .form-quizz{
  width: 100%;
  display: table;
}

.l-deroulant ol{
  margin-left: 45px;
  max-width: 355px;
  width: 100%;
}
.l-deroulant ol li{
  position: relative;
  margin-bottom: 15px;
  color: #4f5e65;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px #e0e0e0 solid;
  padding: 5px; 
}
.l-deroulant ol li:before{
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background: url(/assets/images/deplace-v.png) no-repeat center;
  content: "";
  left: -50px;
  top: 5px;
  background-size: contain;
  cursor: move;

}
.l-deroulant ol li:last-child:before{
  display: none;
}
.l-deroulant ol li:last-child{
  font-style: italic
}

.l-deroulant ol li>span{
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  float: right;
  background: url(/assets/images/close.png) no-repeat center;
  background-size: contain;
  opacity: 0.3;
}
.l-deroulant ol li>span:hover{
  opacity: 0.9;
  border-radius: 50%;
  box-shadow:1px 1px 10px #c5c5c5;
}

@media(max-width:992px){
  .content-drop .groupe-btn .btn.edite{
    width: auto;
    font-size: 0px;
    color: #fff;
  }

}
@media(max-width:768px){
  .content-drop .groupe-btn{
    position: static;
  }

  .prent-content-drop .content-drop{
    padding: 0!important;
  }
}

@media(max-width:533px){
  .w-100{
    width: 100%!important;
    display: block;
    float: none;
    clear: both;
  }

}