body {
    margin: 0;
    padding: 0;
    font-family: firaSans, muli, Arial, Helvetica, sans-serif;
    color: #4f5e65;
  }
.padd{
    padding-left: 25px;
}
.nav-front,
.contenu-header{
    padding: 45px 40px;
    background-color: #fc6100;
    position: relative;
    margin-bottom: 70px;
}
.paginate-rubrique,
.order{
  margin-bottom: 50px;  
}
.nav-front:after{
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    bottom: -29px;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
    border-left: 20px solid #0000;
    border-right: 20px solid #0000;
    border-top: 21px solid;
    border-top-color: #fc6100;
}
.nav-front p{
    color: #fff;
    font-size: 17px;
    font-weight: 200;

}
.nav-front p,.nav-front h1{
    color: #fff;
}
h1{
    font-size: 22px;
    font-weight: bold;
}
p{
  font-family: firaSans;
  font-weight: normal;
}



.title{
    font-size: 17px;
    font-weight: 600;
    font-family: muli;
    margin-bottom: 25px;
    color: #4f5e65;
}
.contenu .mat-form-field{
    max-width: 324px;
    width: 100%;
    color: #4f5e65;
}
.contenu .mat-form-field-label{
    color: inherit!important;
}
.contenu .explicatif p{
  color: #000;
  font-family: Muli;
  font-size: 16px;
  font-weight: normal;
}
.contenu .explicatif .color{
    font-weight: 700;
}
.paginate-rubrique ul li>.rubric-name{
    font-family: muli;
    font-size: 12px;
    font-weight: 200;
    position: absolute;
    top: -25px;
    height: 25px;
    background: #efefef;
    padding: 5px;
    left: -45px;
    min-width: 111px;
    overflow: hidden;
    font-style: normal;
    border-radius: 7px;
}

.contenu .progress{
    position: relative;
    display: table;
    width: 100%;
    background: #fff;
    box-shadow: none;
    min-height: 100px;
}
.contenu .progress mat-slider{
    display: table;
    width: 100%;
    position: absolute;
    bottom: calc(48px/2);
    z-index: 2;
}
.contenu .progress ul{
    display: block;
    height: 1px;
    /* border-top: 3px #00000042 solid; */
    padding: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-bottom: 0px;
    top: 48px;
}
.contenu .progress ul li{
    display: inline-block;
    max-width: 70px;
    position: relative;
    width: 100%; 
}
.contenu .progress ul li>.rond{
    position: absolute;
    left: 0px;
    top: -15px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #787373;  
}
.contenu .progress ul li>i{
    position: absolute;
    left: -1px;
    top: -50px;
    width: 15px;
    height: 15px;
    font-size: 12px;
    font-weight: normal; 
    font-style: normal;
}
.contenu .progress ul li:last-child{
    display: inline-block;
    width: 4px;   
}
.contenu {
    position: relative;
}
.contenu .obligatoire{
    color:#fc6100;
    font-family: firasans;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    right: 15px;
    bottom: 9px;
}
.contenu .mon-point{    
    position: absolute;
    right: 0;
    top: 0;
    border: 1px #ccc solid;
    color: #fff;
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: normal;
    background: #fc6100;
}
.correction mat-radio-group mat-radio-button,
.correction mat-radio-group mat-checkbox {
    position: relative;
    max-width: 200px;
}
.correction mat-radio-group mat-radio-button .after-question,
.correction mat-radio-group mat-checkbox .after-question{
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    top: 0;
}
.correction .green {
    font-weight: normal;
    color: #22bc3f;
}
.correction .red {
    font-weight: 700;
    color: #f00;
}
.correction .nb-400 {
    font-family: muli;
    font-size: 17px;
}
.contenu-header{
    padding: 10%;
}

.contenu-header h1{
    font-family: firaSans;
    font-size: 30px;
    font-weight: 700;
    object-fit: contain;
    line-height: 1.1;
    text-align: left;
    color: #fff;
    line-height: 41px;
}
.contenu-header h1>small{
    font-family: firaSans;
    object-fit: contain;
    font-size: 22px;
    color: inherit;
}
.contenu-header p{
  font-size: 19px;
  font-family: firaSans;
  color: #fff;
  line-height: 32px;
}
.contenu-header button{
    text-align: center;
    background-color: transparent;
    color: #fff;
    border:1px #fff solid;
    border-radius: 0;
    padding: 10px 15px;
    font-size: 18px;
    display: block;
    margin: auto;
}
.contenu-header h1,
.contenu-header p{
    text-align: center;
    max-width: 480px;
    margin: 0 auto 40px;
}

h1>.bloc{
    display: none;
}

@media(max-width: 768px){
    .front-rubrique .contenu {
        padding: 40px 15px;
    }
    h1>.bloc{
        display: block;
    }
}
@media(max-width: 530px){
    .contenu .progress ul li{
        display: inline-block;
        max-width: 67px;
        position: relative;
        width: 18%;
    }
}