<header>
    <div class="nav-front">
        <div class="container">
          <h1>Quizz - Lorem Ipsum</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.consequat.</p>
        </div>
      </div>
</header>
<div class="front-rubrique">
  <div class="container">
    <div class="paginate-rubrique">
      <ul>
        <li><em class="rubric-name">Rubrique name</em>  <span class="actived"></span></li>
        <li><span class="active"></span></li>
        <li><span></span></li>
        <li><span></span></li>
       <li><span></span></li> 
      </ul>
    </div>
    <div class="order">
        <p>
          <a>Rubrique
            <span>1</span> sur
            <span>2</span>
          </a>
        </p>
      </div>
      <!-- images -->
      <div class="contenu">
        <img src="/assets/images/drop/1.jpg" alt="">
      </div>
      <!-- choix multiple -->
      <div class="contenu">
        <p class="title">Question (choix multiples)</p>
        <mat-radio-group>
          <mat-radio-button value="1"><span class="nb-400 padd">Réponse 1</span>  </mat-radio-button>
          <mat-radio-button value="2"><span class="nb-400 padd">Réponse 1</span> </mat-radio-button>
          <mat-radio-button value="3"><span class="nb-400 padd">Réponse 1</span> </mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Case acocher -->
      <div class="contenu">
          <p class="title">Question (cases à cocher)</p>
          <mat-radio-group>
            <mat-checkbox><span class="nb-400 padd">Réponse 1</span> </mat-checkbox>
            <mat-checkbox><span class="nb-400 padd">Réponse 2</span> </mat-checkbox>
            <mat-checkbox><span class="nb-400 padd">Réponse 3</span> </mat-checkbox>
          </mat-radio-group>
        </div>

      <!-- video -->
      <div class="contenu">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
            </div>
        </div>

      <!-- question court -->
      <div class="contenu">
          <p class="title">Question (réponse courte)</p>
          <div class="myrow">
              <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="votre reponse"></textarea>
                </mat-form-field>
          </div>  
      </div>
      <!-- Question (échelle linéaire)  -->
      <div class="contenu">
          <p class="title">Question (échelle linéaire)</p>
          <div class="myrow progress">
            <ul>
              <li><span class="rond"></span> <i>1</i></li>
              <li><span class="rond"></span> <i>2</i></li>
              <li><span class="rond"></span><i>3</i></li>
              <li><span class="rond"></span><i>4</i></li>
              <li><span class="rond"></span><i>5</i></li>
              <li><span class="rond"></span><i>6</i></li>
            </ul>
              <mat-slider></mat-slider>
          </div>  
      </div>

      <!-- Date  -->
      <div class="contenu">
          <p class="title">Question (date)</p>
          <div class="myrow date">
            <!-- <mat-form-field>
              <input matInput [matDatepicker]="dp2" placeholder="Jour/Mois/Année">
              <mat-datepicker-toggle matSuffix [for]="dp2" disabled></mat-datepicker-toggle>
              <mat-datepicker #dp2></mat-datepicker>
            </mat-form-field> -->
            <mat-form-field class="example-full-width">
                <input matInput type="date" placeholder="Jour/Mois/Année" value="Sushi">
              </mat-form-field>
          </div>  
      </div>

      <!-- Date  -->
      <div class="contenu">
          <p class="title">Question (heure)</p>
          <div class="myrow date">
              <mat-form-field class="example-full-width">
                  <input matInput type="time" placeholder="Favorite food" value="Sushi">
                </mat-form-field>
          </div>  
      </div>
 </div>  <!-- fin container -->
 <div class="new-page">
   <p class="retoure">Retoure</p>
   <p class="suivant">suivant</p>
 </div>
</div>
