<p class="title">{{question.description || 'Question (réponse courte)'}}</p>
<div class="myrow textarea">
  <mat-form-field class="example-full-width" [class.error]="!isValid" (change)="change($event)">
    <textarea matInput [placeholder]="question.placeholder || 'votre réponse'" #textarea></textarea>
  </mat-form-field>
</div>
<div class="obligatoire otherError" *ngIf="!isValid && !ngControl.control.hasError('required')">{{question.constraint?.text_error}}</div>
<div class="obligatoire" *ngIf="question.is_mandatory && ngControl.control.hasError('required')">Obligatoire</div>