/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@font-face {
  font-family: 'firasans';
  src: url('assets/fonts/firasans-bold-webfont.woff2') format('woff2'),
    url('assets/fonts/firasans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'firasans';
  src: url('assets/fonts/firasans-light-webfont.woff2') format('woff2'),
    url('assets/fonts/firasans-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'firasans';
  src: url('assets/fonts/firasans-semibold-webfont.woff2') format('woff2'),
    url('assets/fonts/firasans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'firasans';
  src: url('assets/fonts/firasans-ultralight-webfont.woff2') format('woff2'),
    url('assets/fonts/firasans-ultralight-webfont.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'firasans';
  src: url('assets/fonts/firasans-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/firasans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* MULI */

a,a:hover{
  text-decoration: none!important;
}

@font-face {
  font-family: 'muli';
  src: url('assets/fonts/muli-bold-webfont.woff2') format('woff2'),
    url('assets/fonts/muli-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'muli';
  src: url('assets/fonts/muli-webfont.woff2') format('woff2'),
    url('assets/fonts/muli-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'muli';
  src: url('assets/fonts/muli-light-webfont.woff2') format('woff2'),
    url('assets/fonts/muli-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'muli';
  src: url('assets/fonts/muli-semibold-webfont.woff2') format('woff2'),
    url('assets/fonts/muli-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* ROBOTO */

@font-face {
  font-family: 'roboto';
  src: url('assets/fonts/roboto-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: firaSans, Arial, Helvetica, sans-serif;
  color: #4a4a4a;
}
.fa{
  font-family:FontAwesome!important;
}
p,span{
  word-wrap: break-word;
}
.mat-input-element {
  color: #4a4a4a;
}

body .container {
  max-width: 1024px !important;
}

li,
p,
a {
  color: #4a4a4a;
  font-family: firasans;
}
a > span {
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: var(--my-var) !important;
}
#resultat .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar,
#resultat .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #fc6100;
}
.bg-quizz,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label,
.mat-accent .mat-slider-track-fill {
  background-color: var(--my-var);
}
/* ::ng-deep .ngx-charts { text { fill: #fff !important; } } */
/* BOUTTON
&&&&&&&&&&&&&& */
body .btn-quizz {
  min-width: 150px;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 10px 50px;
  margin: 5px 20px;
  text-align: center;
  border-radius: 20px;
  color: var(--my-var);
  display: inline-block;
  border: none;
  font-weight: 400;
  cursor: pointer;
}
body .btn-quizz.valide {
  background-color: var(--my-var);
  border-color: var(--my-var);
  color: #fff;
  outline: none;
}
body .btn-quizz.valide:hover,
body .btn-quizz.valide:focus {
  background: linear-gradient(var(--my-var), var(--my-var));
  border-color: var(--my-var);
}
body .btn-quizz.non-valide {
  color: var(--my-var);
  background-color: #fff;
}
body .btn-quizz.non-valide:hover,
body .btn-quizz.non-valide.focus {
  color: #636161 !important;
  background: linear-gradient(#eaeae9, #fff);
}

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
body .btn-primary {
  background-color: var(--my-var);
  border-color: var(--my-var);
  border-radius: 0;
  color: #fff;
  outline: none;
}
body .btn-primary:hover,
body .btn-primary:focus,
.contenu-header button:hover,
.contenu-header button:focus {
  background: linear-gradient(var(--my-var), var(--my-var));
  border-color: var(--my-var);
}

.retour-class .pad-right mat-form-field {
  margin-left: 15px;
}

/* parent content drop */
/* Float Shadow */
.hvr-float-shadow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    transparent 50%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    transparent 50%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* body .color {
  color: var(--my-var) !important;
} */
.l-deroulant ol li .absolute {
  position: absolute;
  top: -2px;
  left: 110px;
  background: #fff;
  padding: 5px;
  transition: 0.3s;
  width: 100%;
  max-width: 180px;
}
.form-quizz .border li .mat-form-field-label {
  width: auto;
  border-bottom: 2px var(--my-var) solid;
  padding-right: 2px;
}
.l-deroulant ol li .absolute > span {
  cursor: pointer !important;
}
.l-deroulant ol li .absolute > span:hover {
  color: var(--my-var);
  font-weight: 600;
}

/* FIN */
/* MODALE && popup 
&&&&&&&&&&&&&&&&&&&&*/
.modal-content {
  position: relative;
}
.modal-content .close {
  position: absolute;
  right: 15px;
  top: 15px;
  opacity: 0.6;
  transition: 0.3s;
  z-index: 2;
  cursor: pointer;
}
.modal-content .close:hover {
  opacity: 1;
}
/*HEADER QUIZZ*/
.navbar {
  border-radius: 0 !important;
  margin-bottom: 15px!important;
  min-height: 1px !important;
}
.filtre-quiz .liste > li {
  list-style: none;
  display: inline-block;
  float: left;
  width: 28%;
  height: 46px;
}
.creation-quizz .liste1 .btn-group .mat-form-field-wrapper {
  background: #fff;
  padding-bottom: 0;
}
.creation-quizz .liste1 .btn-group .mat-form-field-underline,
.no-border .mat-input-underline {
  display: none;
}

.creation-quizz .liste1 li .mat-form-field-infix {
  border: 0 !important;
  margin-bottom: 0;
  height: 100%;
  line-height: 19px;
  padding-left: 5px;
}

.creation-quizz .liste1 li .mat-input-flex {
  height: 100%;
}

.mat-select-arrow {
  color: inherit !important;
}

.filtre-quiz .liste > li.btn-group mat-form-field .mat-form-field-wrapper {
  padding: 5px 0;
}
.filtre-quiz .liste > li.title {
  line-height: 46px;
}
.filtre-quiz .liste > li.form > .input-group {
  padding: 6px 0;
}
.mat-expansion-panel-body {
  padding: 0 !important;
}

.filtre-quiz .liste > li:last-child {
  float: right;
}
.filtre-quiz .liste {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
}
.filtre-quiz .liste .title > a,
.creation-quizz .liste .title > a {
  font-family: firasans, fira sans;
  font-size: 22px;
  color: #fff;
}
.filtre-quiz .liste li > #button-basic {
  background-color: inherit;
  border: 0;
}
.filtre-quiz .liste li:first-child {
  width: 40%;
}
.filtre-quiz .liste li > #button-basic:active {
  box-shadow: 0px 0px;
}

.filtre-quiz ul li .mat-form-field-label {
  color: #fff;
  padding-left: 40px;
  margin: 0;
  padding-top: 6px;
}
.mat-select-value {
  display: inline !important;
  display: table-cell!important;
}
.filtre-quiz .mat-select-arrow-wrapper {
  width: 40px;
  height: 25px;
  float: left;
  position: absolute;
  left: 0;
  top: 0px;
}
.filtre-quiz .mat-form-field-infix {
  border: 0;
}
.filtre-quiz .mat-form-field-underline {
  display: none;
}
.filtre-quiz .cdk-overlay-pane {
  top: 56px !important;
}
.filtre-quiz .mat-select-trigger {
  width: 100%;
  padding-left: 40px;
  margin: 0;
  padding-top: 5px;
}
.filtre-quiz .ng-star-inserted {
  color: #fff;
}
.filtre-quiz .mat-select-arrow {
  margin-left: 0;
  width: 25px;
  height: 25px;
  border: 0;
  background: url(/assets/images/picto-filtre.png) no-repeat center;
  background-size: contain;
  margin-right: 25px;
}

.filtre-quiz.navbar,
.navbar {
  margin: 0;
  border-radius: 0;
  height: auto !important;
  min-height: 1px;
}
.form .btn-search {
  background: #fff url(/assets/images/search.png) no-repeat center;
  width: 34px;
  height: 34px;
  padding: 0;
  background-size: 23px;
  border-radius: 0;
}
.form .input-group input {
  border: 0;
  border-radius: 0;
  height: 34px;
}
.filtre-quiz .open > .dropdown-menu {
  display: block;
  width: 200px;
  border-radius: 0;
  max-height: 250px;
  overflow-y: scroll;
  width: 200px;
  border-radius: 0;
}
.open > .dropdown-menu {
  display: block;
  border-radius: 0;
  width: 100%;
}
.mat-select-arrow-wrapper {
  width: 30px;
}

.contenu .mat-select-arrow {
  border-top-color: inherit;
}
body .pagination {
  margin-top: 0;
}
.form-quizz .mat-form-field-label > span,
.mat-form-field-invalid .mat-form-field-required-marker {
  color: #fff !important;
}
.mat-focused .mat-form-field-label .mat-form-field-required-marker,
.mat-focused .mat-form-field-label.mat-accent {
  color: var(--my-var) !important;
}
.mat-form-field-invalid .mat-input-element,
.mat-warn .mat-input-element {
  color: #4a4a4a;
}
.prent-content-drop {
  box-shadow: 0 5px 14px 0 rgba(166, 166, 166, 0.4);
  margin: 40px 0;
  border-left: 5px transparent solid;
}

.prent-content-drop:hover {
  border: none;
  border-left-width: 5px;
  border-color: var(--my-var);
  border-style: solid;
  transition: 0.5s;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.sticky {
  position: fixed;
  width: 100%;
  background: #ffffffe0;
  display: block;
  z-index: 9999;
  left: 0;
  right: 0;
  padding: 29px 0;
  top: 15px;
  height: 75px;
}
/* Responsive header quizz
************************** */
@media (max-width: 992px) {
  .prent-content-drop {
    padding-right: 0 15px;
  }
  .pagination {
    margin: 45px 0 !important;
    margin-top: 45px !important;
  }
  .fr-toolbar .fr-command.fr-btn.fr-hidden,
  .fr-popup .fr-command.fr-btn.fr-hidden {
    display: block !important;
  }
}
.quizz-table .mat-row a:hover{
  color: #fc6100!important;
}
/*Fquizz-table
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
.quizz-table .table {
  border-collapse: initial;
}
.quizz-table .container-table {
  margin: 45px auto;
  border-bottom: 1px #000 solid;
}
/* .quizz-table .table tr.odd{
} */
.quizz-table .table tr.even {
  background-color: #e6e6e6 !important;
}
.quizz-table .table tr:hover {
  background-color: #35cc99 !important;
  color: #fff;
}
.quizz-table .table tr:hover td,
.quizz-table .table tr:hover th {
  color: #fff;
}
.quizz-table .table tr.no-border td,
.quizz-table .table tr.no-border th {
  border: 0px;
  border-bottom: 2pxvar (--my-var) solid;
}
.quizz-table .table tr td,
.quizz-table .table tr th {
  border: 0;
  border-bottom: 1px #ccc solid;
  padding-left: 15px;
}
.quizz-table .table td,
.quizz-table .table th {
  font-size: 11px;
  height: 26px;
  padding: 0;
  vertical-align: middle;
  color: #000;
}
.quizz-table .table td button,
.quizz-table .table th button {
  padding: 0 15px;
  border-radius: 0;
  width: 100%;
  height: 21px;
  border: 0;
  background: #fff;
  color: #000;
  font-size: 11px;
  min-width: 115px;
}
.quizz-table .open > .dropdown-menu {
  overflow: hidden;
}
.quizz-table .dropdown-menu > li > a {
  font-size: 11px;
}
.quizz-table .btn .caret {
  margin-left: 5px;
}
.quizz-table .open > .dropdown-menu {
  width: 100%;
}

.quizz-table .table td > a.picto,
.quizz-table .table th > a.picto {
  display: table-cell;
  width: 30px;
  height: 22px;
  float: left;
  background: url(/assets/images/pictos-agency.png) no-repeat center;
  overflow: hidden;
  background-size: 30px auto;
  transition: 0.3s;
}
.quizz-table .table tr:hover td > a.picto,
.quizz-table .table tr:hover th > a.picto {
  background: url(/assets/images/pictos-agency2.png) no-repeat center;
  background-size: 30px auto;
}

.quizz-table .table td > a.copy,
.quizz-table .table th > a.copy {
  background-position: -3px -2px;
}
.quizz-table .table td > a.reultat,
.quizz-table .table th > a.reultat {
  background-position: -3px -47px;
}
.quizz-table .table td > a.apercu,
.quizz-table .table th > a.apercu {
  background-position: -3px -26px;
}
.quizz-table .table td > a.suppr,
.quizz-table .table th > a.suppr {
  background-position: -3px -73px;
}
.quizz-table .table td:last-child,
.quizz-table .table th:last-child {
  width: auto;
}

.-vertical .ng-scrollbar-thumb {
  background-color: var(--my-var) !important;
  opacity: 0.4;
}
.parent-pagination {
  position: relative;
}
.add-quizz {
  float: right;
  width: 80px;
  height: 80px;
  display: block !important;
  background: #fc6100;
  position: absolute;
  border-radius: 50%;
  margin: 15px;
  text-align: center;
  line-height: 80px;
  bottom: 0px;
  right: -111px;
  z-index: 9996;
}
.add-quizz a {
  font-size: 50px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  width: 100%;
  left: 0;
  display: block;
}
.add-quizz a:focus,
.add-quizz a:hover {
  color: #fff;
  text-decoration: none;
}
.mat-select-trigger {
  width: 100px;
}
.mat-menu-xx.mat-menu-panel {
  max-width: 450px !important;
}
.mat-menu-xx .mat-menu-content button,
.mat-menu-xx .mat-menu-content .boutton {
  padding-right: 60px;
  position: relative;
  height: 36px;
  line-height: 36px;
}
.mat-menu-xx .mat-menu-content button > .svg,
.mat-menu-xx .mat-menu-content .boutton > .svg {
  position: absolute;
  right: 10px;
  top: 8px;
}
.txt {
  width: 100%;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  font-family: roboto;
}

/* .ng-scrollbar-container{
    overflow: scroll!important;
} */

.quizz-table .-vertical {
  width: 14px;
  top: 2px;

}
.quizz-table .-horizontal {
  height: 14px;
}

.quizz-table .ng-scrollbar {
  position: absolute;
  border-radius: 0;
  opacity: 1;
}
.quizz-table .-vertical .ng-scrollbar-thumb {
  background: #fff !important;
  border-radius: 15px;
}

.-horizontal .ng-scrollbar-thumb {
  background-color: #fff !important;
  border-radius: 15px;
}
/*Création quizz :
&&&&&&&&&&&&&&&&&&&*/
.form-quizz .mat-form-field-label,
.form-quizz .mat-input-element {
  font-size: 14px;
  color: #4f5e65;
}

.form-quizz .mat-input-element {
  font-size: 13px !important;
  color: #000 !important;
  font-family: firasans !important;
  font-weight: 600 !important;
  resize: none;
}
.form-quizz .pointer .mat-input-element {
  cursor: pointer!important;
}

#creation-quizz .mat-expansion-indicator::after {
  content: '';
  display: inline-block;
  transform: rotate(90deg);
  vertical-align: middle;
  /* border-color: #0000 #0000 #0000var(--my-var); */
  border-style: solid;
  border-width: 6px;
  margin-top: 3px;
  padding: 0;
  border-top-color: #0000;
  border-right-color: #0000;
  border-bottom-color: #0000;
  border-left-color: inherit;
}
#creation-quizz .mat-expansion-indicator {
  border-left-color: inherit;
}

.rubrique,
.parent-content {
  margin-bottom: 30px;
}
.form-quizz {
  margin-bottom: 0;
}

.parent-content {
  border: none;
}
.type-contenu {
  width: 32%;
  position: absolute;
  height: 40px;
  background-color: #0003;
  padding: 11px;
  padding-left: 2%;
  color: #fff;
  font-size: 18px;
  top: 0;
  right: 0;
}
.type-contenu.text {
  padding-left: 2%;
}

.type-contenu.img:before {
  position: absolute;
  content: '';
  width: 25px;
  height: 18px;
  background: url(/assets/images/picto-image.png) no-repeat center;
  background-size: contain;
  left: 14px;
}
.clear {
  clear: both;
  float: none;
  display: block;
  width: 100%;
}
.ngx-toolbar {
  font-size: 16px !important;
  border: none !important;
  background-color: #d8d8d8 !important;
  padding: 8px 5px 0 !important;
}
.ngx-editor-textarea {
  min-height: 84px !important;
  border: none !important;
  border-bottom: 1px #d8d8d8 solid !important;
}
.ngx-editor .ngx-wrapper .ngx-editor-placeholder {
  display: inline;
}
.ngx-editor {
  width: 100%;
  min-width: 0px;
  max-width: 100%;
  margin: 10px auto;
}
.ngx-editor .ngx-editor-grippie {
  height: 31px !important;
}
.w-picto {
  border-left: 5pxvar (--my-var) solid;
}
.content-drop .ng-star-inserted > .ngx-editor-grippie {
  visibility: hidden;
}

/* POPUP
  &&&&&&&&&&&&*/
.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  max-width: 519px;
  width: 100% !important;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-content {
  padding: 25px 15px;
  border-radius: 10px !important;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.27) !important;
  border: none !important;
}

.pagination {
  border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
  border: none !important;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border: 1px #ddd solid !important;
  padding: 5px 14px;
  background-color: #fff;
  border-radius: 15px !important;
  color: #eb6b1c !important;
  font-family: firasans;
  font-weight: 400;
  transition: 0.5s;
}
.pagination > li:first-child:hover > a,
.pagination > li:first-child:hover > span,
.pagination > li:last-child:hover > a,
.pagination > li:last-child:hover > span {
  border-color: #eb6b1c;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > li > a:hover .pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: var(--my-var) !important;
  cursor: pointer !important;
  background: none !important;
}
.pagination > li > a,
.pagination > li > span {
  color: #000 !important;
  font-family: firasans;
  font-weight: 700;
}
.parent-pagination .mat-form-field-infix {
  width: 65px !important;
}
.parent-pagination .mat-select-trigger {
  width: 100% !important;
}
.parent-pagination .mat-form-field-wrapper {
  margin: 0 10px;
}

@media (max-width: 533px) {
  .pagination > li:first-child > a,
  .pagination > li:first-child > span,
  .pagination > li:last-child > a,
  .pagination > li:last-child > span {
    display: table;
    float: none;
  }
  .cdk-overlay-pane {
    left: 0 !important;
    right: 0 !important;
  }
  .mat-menu-xx.mat-menu-panel {
    margin: auto;
  }
  #resultat .w-100{
    width: 100%;
    float: none;
    clear: both;
  }
  #resultat .contenu .btn-quizz{
    margin: 20px auto;
    text-align: center;
    display: block;
    float: none;
  }
  #resultat .contenu .mat-form-field {
    margin-bottom: 15px;
  }
  #resultat .contenu .btn-groupe.table {
    float: none!important;
    margin: auto;
  }
  #resultat .type-contenu{
    width: 100%;
  }
}

.content-drop {
  display: block;
  width: 100%;
}

.content-drop .groupe-btn .btn,
.content-drop .groupe-btn table td {
  display: inline-block;
}

.content-drop .groupe-btn .btn-suppr {
  width: 54px;
  height: 54px;
  background: url(/assets/images/delete.png) no-repeat center;
  background-size: 26px 26px;
  border-radius: 0;
}
.content-drop .groupe-btn .btn-suppr.border {
  border-color: #dcdcdc #0000 #0000 #dcdcdc !important;
}
.content-drop .groupe-btn table td {
  width: auto;
  display: table-cell;
  text-align: center;
}
.content-drop .groupe-btn table td .mat-slide-toggle {
  width: 100%;
  height: 100%;
}
.content-drop .groupe-btn table td.conditionE {
  width: 25px;
  height: 25px;
  float: right;
  position: static;
  margin-top: 13px;
  margin-right: 7px;
}

.content-drop .groupe-btn table td:nth-child(1) {
  border-right: 1px #e4e0e0 solid;
}
.content-drop .groupe-btn table td > .menu {
  width: 20px;
  float: right;
  height: 100%;
  background: url(/assets/images/action2.png) no-repeat center;
  background-size: contain;
  border: 0;
}
.content-drop .groupe-btn table {
  width: 100%;
}
.content-drop .groupe-btn {
  display: table;
  background: #fff;
  border-radius: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.content-drop .groupe-btn table,
.content-drop .groupe-btn .btn.edite {
  border: 1px #e4e0e0 solid;
}
.content-drop .groupe-btn .btn.edite {
  background: #fff;
  border-radius: 0;
  padding-left: 40px;
  position: relative;
  font-weight: 600;
  color: var(--my-var);
  font-size: 12px;
  width: 130px;
  border-bottom: 0;
  height: 56px;
  border: none;
  cursor: pointer !important;
  border: 1px #0000 solid;
  transition: 0.3s;
}
.content-drop .groupe-btn .btn.edite:hover {
  color: var(--my-var);
  border: 1px var(--my-var) solid;
  border-left: none;
}

.content-drop .groupe-btn .btn.edite > svg {
  position: absolute;
  display: inline-block;
  top: 29%;
  left: 13px;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: var(--my-var);
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: var(--my-var);
  opacity: 0.8;
}

.form-quizz.q-courte .q-child .mat-form-field-label {
  font-family: FiraSans;
  font-size: 15px;
  font-weight: normal;
  color: #4a4a4a;
}
.form-quizz.q-courte .mat-form-field-label {
  color: #4f5e65;
  font-size: 16px;
  font-weight: 600;
}
.form-quizz.q-courte .textarea label,
.form-quizz.q-courte .label-italic label {
  color: #4f5e65;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
}
.form-quizz .textarea .mat-form-field-wrapper {
  padding-bottom: 0px !important;
  min-height: 36px;
}
.form-quizz .textarea-height .mat-form-field-wrapper textarea {
  min-height: 80px;
}
 
.form-quizz.q-long .textarea .mat-form-field,
.form-quizz.q-courte .textarea .mat-form-field {
  max-width: 100%;
  width: 100%;
}

.form-quizz .mat-form-field {
  max-width: 290px;
  width: 95%;
  margin-bottom: 15px;
  min-height: 38px;
}
.form-quizz .textarea .mat-form-field {
  min-height: 38px;
}

.form-quizz .q-child .mat-form-field-type-mat-select .mat-form-field-underline {
  display: none;
}
.form-quizz .mat-form-field-type-mat-select {
  background-color: #fafafa; /*fafafa */
  padding: 6px 0 0px 0px;
  height: 40px;
}
.form-quizz .pad-21 .mat-form-field {
  padding-right: 21px;
}


.form-quizz .no-border .mat-select-arrow-wrapper {
  position: absolute;
  right: -28px;
  top: 44%;

  /* position: absolute;
  right: -28px;
  top: -11px;
  height: 38px; */
}
.form-quizz .no-border.bg-point .mat-select-arrow-wrapper{
  top: -11px;
  height: 38px;
}
.form-quizz .no-border.bg-point .mat-select-arrow{
  top: 17px;
  position: absolute;
}
.form-quizz .no-border.bg-point mat-form-field{
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.form-quizz .textarea-height mat-form-field{
  max-width: 100%;
}
.mat-form-field-infix {
  border-top: 0px !important;
  width: auto !important;
  min-height: 40px;
}
.mat-form-field-ripple {
  background-color: var(--my-var) !important;
}
.mat-form-field-underline {
  background-color: #dcdcdc;
  bottom: 0;
}
.mat-form-field-wrapper {
  padding-bottom: 0;
  height: 100%;
}
.textarea .mat-form-field-infix {
  padding-bottom: 0;
  border: 0;
}
.prent-content-drop .embed-responsive {
  max-width: 532px;
  width: 100%;
  margin: 40px auto;
  max-height: 343px;
  height: 343px;
  padding-bottom: 0!important;
}
.prent-content-drop .embed-responsive iframe{
  height: 343px;
}
.border-none-color .mat-select-arrow {
  border-top-color: var(--my-var);
}
#attachement {
  opacity: 1;
  display: table;
}
#attachement li {
  background-color: #fff;
  cursor: move !important;
}
.attachement li,
#quetsion li,
#quetsion li > a,
#attachement li > a,
li.list-group-item,
.ng-star-inserted > li {
  cursor: move !important;
}
span.plus {
  background-color: #fff;
}
.relative app-quiz-question {
  position: fixed;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  max-width: 175px;
  width: 100%;
}
.mat-select-trigger {
  width: 100%;
}

.filtre-quiz .input-group .form-control:first-child {
  font-size: 14px;
  font-style: italic;
}
.mat-option[aria-disabled='true'] {
  cursor: not-allowed !important;
}
/* .cdk-overlay-transparent-backdrop, .cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
    opacity: 0.8;
    background: #fff;
} */

.test-panel .mat-select-content {
  background-color: #f9853c !important;
}
.test-panel .mat-select-content .mat-option-text {
  color: #fff;
  font-size: 13px;
  font-weight: 200;
}
.mat-select-panel.test-panel .mat-optgroup-label,
.mat-select-panel.test-panel .mat-option {
  line-height: 26px;
  height: 26px;
  font-weight: 400;
}
.test-panel .mat-option:focus:not(.mat-option-disabled),
.test-panel .mat-option:hover:not(.mat-option-disabled) {
  background-color: #1e90ff !important;
}
.cdk-overlay-container {
  z-index: 9999 !important;
}

.list-autocomplete {
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.list-autocomplete .ng-star-inserted {
  display: inline-block;
  border: none;
  padding: 5px 10px;
  margin: 1px;
  cursor: pointer;
  box-shadow: 0 2px 5px -1px #ccc;
}
.list-selected .ng-star-inserted {
  display: inline-block;
  border: none;
  padding: 5px 10px;
  margin: 1px;
  background: var(--my-var);
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.27);
  position: relative;
  padding-right: 20px;
}
.list-selected .ng-star-inserted > span {
  color: #fff;
  font-size: 12px;
}
.list-selected .ng-star-inserted > span.close {
  position: absolute;
  right: -5px;
  top: -3px;
  font-size: 14px;
  color: #929292 !important;
  background: #fff;
  opacity: 1;
  border: none;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  z-index: 2;
  text-align: center;
  padding-top: 5px;
}
.alert-success {
  color: #35cc99!important;
  background-color: #c3ffeb!important;
  border-color: #d6e9c6!important;
  border: none!important;
  border-radius: 0!important;
}
.alert-danger {
  color: #ff612f!important;
  background-color: #ffd4c7!important;
  border-radius: 0!important;
  border: none!important;
}
app-list-quiz .alert{
  max-width: 83%;
  margin: 0 auto;
  display: block;
  border-bottom: 1px #fff solid!important;
  padding: 10px 15px;
}
app-list-quiz .alert-dismissable .close,
app-list-quiz .alert-dismissible .close{
  right: 0;
}

/* MODALE NBR RUBRIQUE */

.rubric-pops .modal-content h3,
.rubric-pops .modal-content .modal-title {
  font-family: inherit;
  font-size: 23px;
  font-weight: 700;
}
.rubric-pops .modal-content {
  border: none;
  border-left: 5px var(--my-var) solid !important;
  border-radius: 10px !important;
  background-color: #ffffff;
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.27);
}

.rubric-pops .modal-content .modal-title + p {
  font-size: 12px;
  font-weight: 300;
}
.rubric-pops .modal-body .pad {
  padding: 15px 15%;
}
.rubric-pops .modal-body table td {
  padding: 0 3px;
  font-size: 13px;
  text-align: left;
}
body .modal-content .close,
body .rubric-pops .modal-body .close,
body .modal close {
  text-align: center;
  width: 32px;
  padding: 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 28px;
  height: 27px;
  border-radius: 0;
  box-shadow: none;
}
body .modal-content .close {
  top: 10px;
  right: 15px;
}
body .modal-content .close:focus {
  outline: none;
}
body .rubric-pops .modal-body .close {
  top: 0;
  right: 0;
}
.rubric-pops .modal-body table td > span {
  padding: 0 5px;
}
.rubric-pops .modal-body table td > span.mask {
  opacity: 0.7;
}
.rubric-pops .modal-body table td .close {
  top: 0;
  left: 0;
  text-align: center;
  padding: 0;
  width: 100%;
}
.rubric-pops .modal-body table td.relative {
  position: relative;
  width: 40px;
}

.rubric-pops .modal-body p {
  font-family: FiraSans;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
}
.rubric-pops .modal-body {
  padding-left: 0!important;
  padding-right: 0!important;
}

.rubric-pops .modal-header,
.rubric-pops .modal-footer {
  border: none;
}
.rubric-pops .modal-footer button {
  font-size: 12px;
}
.rubric-pops .modal-footer {
  max-width: 389px;
  padding: 5px 5px 25px;
  margin: auto;
}
.rubric-pops .mat-form-field-label {
  color: #4a4a4a;
  font-weight: 600;
}

.rubric-pops .modal-body .group-selection.flou td .mat-form-field {
  width: 100%;
}
.group-selection.flou {
  opacity: 0.3;
  transition: 0.3s;
}
.group-selection.flou:hover {
  opacity: 1;
  transition: 0.3s;
}
.modal-backdrop.in {
  background: #fff;
  opacity: 0.3!important;
}
li{
  list-style: none!important;
}
.modal-open > app-root {
  filter: blur(5px);
  display: table;
  width: 100%;
}
.group-selection {
  display: table;
  width: 100%;
  margin-bottom: 40px;
}
.group-selection > table:first-child {
  width: 60%;
}
.group-selection > table:last-child {
  width: 40%;
}
.group-selection > .table2 td.w-cust mat-form-field{
  width: 100%;
}
.w100 {
  width: 100% !important;
}
.ngx-dnd-item:not(.has-handle):not(.move-disabled),
.ngx-dnd-item.has-handle [ngxdraghandle],
.ngx-dnd-item.has-handle [ngxDragHandle]{
  cursor: default!important;
}
.echell-select {
  padding: 25px 0px;
  display: table;
  width: 100%;
}
.echell-select p {
  color: #727272;
  font-size: 16px;
  font-weight: 200;
  height: 40px;
  margin: 0;
  line-height: 40px;
}
.mat-option-text,
.mat-input-element {
  color: inherit;
  caret-color: inherit;
}
.echell-select .mat-form-field-label,
.echell-select .mat-option-text {
  color: rgba(0, 0, 0, 1);
}
/* HOURS */
.form-quizz .hours .mat-form-field,
.form-quizz .hours .absolute {
  float: left;
}

.form-quizz .hours .absolute {
  position: relative;
  display: inline-block;
  top: 7px;
  right: 18px;
  float: left;
}
.mat-form-field-prefix .mat-datepicker-toggle-default-icon,
.mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: auto !important;
}
body .fin-quizz label {
  font-weight: 200 !important;
}

body .nbr-limite .mat-input-underline.mat-form-field-underline {
  display: none;
}
.echell-select .mat-form-field-type-mat-select .mat-form-field-label{
  padding-left: 15px;
}
.nbr-limite td{
  min-width: 50px;
  text-align: center;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--my-var);
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: var(--my-var);
}
.nb-400 {
  font-weight: normal;
}

.order p {
  margin: 0;
  top: -32px;
  position: absolute;
  max-width: 70%;
  left: 15px;
  display: inline-block;
  width: 100%;
}
.order .pops {
  position: absolute;
  right: -25px;
  top: -4px;
  width: 38px;
  height: 28px;
  background: url(/assets/images/pops.png) no-repeat center;
  cursor: pointer;
}
.order p > a,
.order p {
  color: #fff;
  text-decoration: none;
  font-family: firasans;
  font-size: 14px;
}

.order {
  vertical-align: middle !important;
  border-color: var(--my-var);
  border-width: 40px 29px 0 0;
  border-style: solid;
  width: 100%;
  max-width: 390px;
  display: inline-block;
  height: 40px;
  position: relative;
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;

  -webkit-border-left-color: transparent !important;
  -webkit-border-bottom-color: transparent !important;
  -webkit-border-right-color: transparent !important;
}
.order .order-option {
  position: absolute;
  width: 48px;
  height: 24px;
  background: url(/assets/images/action3.png) no-repeat center;
  top: -32px;
  right: 10px;
  cursor: pointer;
  background-size: 25px 7px;
}
.order-name {
  padding: 8px 15px;
  background: #fff;
  width: 100%;
  max-width: 300px;
  box-shadow: 1px 1px 7px #ccc;
  border-radius: 0;
  font-size: 16px;
  font-family: firasans;
  color: #4a4a4a;
  margin-bottom: 0px;
}

.order-name input {
  border: none;
  width: 100%;
  font-size: 14px;
  font-family: firasans;
}
.order-name input:focus {
  outline: none;
}

.dnd-sortable-drag .prent-content-drop {
  border: 2px var(--my-var) solid;
  opacity: 0.5;
}
#attachement li.question span.icone {
  color: var(--my-var);
  font-size: 35px;
}
.ql-formats {
  background: #e2e2e2;
  border-radius: 2px;
}
.ql-toolbar.ql-snow .ql-formats {
  margin: 1px !important;
}
.ql-container.ql-snow {
  border: none !important;
  border-bottom: 1px #ccc solid !important;
}
.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected,
.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  color: var(--my-var) !important;
  stroke: var(--my-var) !important;
}
.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: var(--my-var) !important;
}
/* LOGIN
&&&&&&&&&& */
.front-login .mat-form-field-label{
  height: 55px;
  line-height: 55px;
  padding: 0 15px;
}
.front-login .second .mat-form-field-label{
  line-height: 66px;
}
.front-login .mat-form-field-underline{
  background-color: #fff;
}
.front-login .mat-form-field-invalid .mat-input-element,
.front-login .mat-warn .mat-input-element,
.front-login .mat-input-element{
  caret-color: #4a4a4a!important;
}


/* FRONT
&&&&&&&&&&& */
.new-page {
  display: table;
  width: 100%;
}
.new-page p {
  display: table-cell;
  height: 40px;
  vertical-align: middle;
  padding: 0 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer!important;
  position: relative;
}
.new-page p:before {
  position: absolute;
  content: '';
  width: 17px;
  height: 12px;
  display: block;
  right: 17px;
  background: url(/assets/images/shape.png) no-repeat center;
  background-size: contain;
  top: 14px;
}

.new-page p.retoure:before {
  transform: rotate(180deg);
  left: 17px;
}
.new-page p.suivant:hover {
  background: var(--my-var);
}
.new-page p.retoure:hover {
  border: 1px #797878 solid;
}
.new-page p.retoure {
  width: 50%;
  background-color: #9b9b9b;
}
.new-page p.suivant {
  text-align: right;
  background: var(--my-var);
}

.front-rubrique .contenu,
#resultat .contenu {
  max-width: 495px;
  padding: 40px 56px;
  background: #fff;
  box-shadow: 0 5px 14px 0 rgba(166, 166, 166, 0.2);
  margin: auto;
  margin-bottom: 20px;
  float: none;
}
#resultat .contenu {
  max-width: 780px;
}

.front-rubrique .contenu:last-child {
  margin-bottom: 40px;
}
.front-rubrique .contenu.full {
  padding: 15px !important;
}
.front-rubrique .contenu img {
  width: 100%;
}
.img-defaut{
  padding-bottom: 30px;
}
.front-rubrique .contenu mat-radio-group > mat-radio-button,
.front-rubrique .contenu mat-radio-group > mat-checkbox {
  display: block;
  margin-bottom: 14px;
  font-family: Muli;
  font-size: 16px;
  color: #4f5e65;
}
.drupe mat-expansion-panel-header .mat-expansion-indicator::after {
  border-style: solid;
  border-width: 10px 0px 0px 0;
  content: '';
  display: inline-block;
  transform: rotate(0deg);
  vertical-align: middle;
  border-top: 6px dashed;
  border-right: 5px solid #0000;
  border-left: 5px solid #0000;
  padding: 0;
}
mat-form-field textarea {
  resize: none;
}
.correction .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.correction .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #0000008a !important;
}
.correction
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #0000008a;
}
.correction .mat-checkbox-frame,
.correction .mat-radio-outer-circle {
  border-width: 1px;
  opacity: 0.5;
}
.correction .mat-checkbox-checked .mat-checkbox-frame {
  border: none;
}

.multiple mat-checkbox .mat-checkbox-frame {
  border-radius: 50%;
}
.multiple mat-checkbox.mat-checkbox-checked .mat-checkbox-frame {
  border-color: var(--my-var);
}
.multiple .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  left: 5px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  font-size: 0px;
  top: 5px;
}
.multiple .mat-checkbox-checked .mat-checkbox-checkmark {
  opacity: 0;
  display: none;
  width: 0px;
  height: 0px;
}
.multiple mat-checkbox svg:not(:root) {
  display: none;
}
.multiple mat-checkbox .mat-checkbox-background {
  transition: none;
}
.correction .Liste-contenu .mat-checkbox-checked .mat-checkbox-frame{
  border: 1px #0000008a solid;
}

body .fin-quizz mat-form-field {
  max-width: 320px !important;
}


.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: inherit !important;
}
.relative app-quiz-question > .resp-menu {
  display: none;
}
.ngx-dnd-item {
  transition: opacity 0.4s ease-in-out;
  display: block;
}
.ngx-dnd-item:not(.has-handle):not(.move-disabled),
.ngx-dnd-item.has-handle [ngxdraghandle],
.ngx-dnd-item.has-handle [ngxDragHandle] {
  cursor: move;
  cursor: grab;
  cursor: -webkit-grab;
}
.ngx-dnd-item .ngx-dnd-content {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* .ngx-dnd-item {
  border: 1px #0000 solid;
}
.ngx-dnd-item:hover {
  border: 1px #0000 solid;
} */

.gu-over {
  /* border: 1px var(--my-var) solid; */
  background: none;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter: alpha(opacity=80);
  list-style: none;
  color: #4a4a4a;
  min-width: 200px;
  box-shadow: 0 5px 14px 0 rgba(166, 166, 166, 0.5);
}
.gu-mirror li {
  list-style: none;
  border: none;
  vertical-align: middle;
  min-width: 200px;
}

.gu-mirror {
  padding: 15px;
  border: 1px var(--my-var) solid;
}

.gu-mirror .opac {
  opacity: 0;
}
.gu-mirror .icone {
  font-size: 35px;
  color: var(--my-var);
}

/* .gu-mirror .ngx-dnd-item,
.gu-mirror li,
.gu-mirror .attachement .ngx-dnd-item {

} */

/* .gu-mirror .ngx-dnd-item{
  border:none;
  box-shadow: 0 5px 14px 0 rgba(166, 166, 166,0.5);
  padding: 15px;
  vertical-align: middle;
} */

.gu-mirror li a {
  color: inherit;
}
.gu-mirror li a,
.gu-mirror li div a {
  opacity: 0;
  color: var(--my-var);
  text-decoration: none;
}
.gu-over a, .gu-mirror li a,
.gu-mirror a,.gu-transit  a{
  color: var(--my-var)!important;
  text-decoration: none!important;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.6;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
  /* background-color: #fff; */
  border: none;
  box-shadow: 0 5px 14px 0 rgba(166, 166, 166, 0.8);
  padding: 25px;
}
.gu-transit li {
  list-style: none !important;
}


.gu-transit li a,
.gu-transit .opac {
  opacity: 0;
  color: var(--my-var)!important;
}

.gu-transit li svg,
.gu-transit svg.test {
  width: 100px !important;
  height: 75px !important;
}

.gu-transit li span.icone {
  color: var(--my-var);
  font-size: 100px;
}
.gu-transit .prent-content-drop {
  background-color: #0000;
}

/* .gu-over */
/*# sourceMappingURL=index.map*/

/* TEXT EDITEUR */
.fr-toolbar {
  border-radius: 0 !important;
  border-top: 0 !important;
}
.fr-toolbar.fr-top {
  background: #d8d8d8;
}
.fr-toolbar .fr-command.fr-btn i,
.fr-popup .fr-command.fr-btn i,
.fr-toolbar .fr-command.fr-btn svg,
.fr-popup .fr-command.fr-btn svg,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn {
  font-size: 18px;
  color: #000 !important;
}
.fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
.fr-popup .fr-command.fr-btn.fr-dropdown::after {
  border-top: 4px solid #000;
}
.fr-box.fr-basic.fr-top .fr-wrapper {
  box-shadow: none !important;
  border-bottom: 1px #ccc solid;
}
.fr-tooltip {
  background-color: var(--my-var) !important;
}

.show-placeholder + div > a {
  color: #fff !important;
  text-decoration: none;
  background: #fff !important;
  display: block !important;
  font-size: 1px !important;
  padding: 0 !important;
  visibility: hidden !important;
}

li.pad-24{
  padding-left: 24px!important;
}
ol li>.before{
  position: absolute!important;
  top: 0;
  left: -35px;
  width: 6px;
  height: 40px;
  background-color: var(--my-var);
  display: block;
}
/* THEME PROGRESS
&&&&&&&&&&&&&&&&&&& */
.theme mat-progress-bar .mat-progress-bar-fill::after{
  background-color: #fc6100;
}
.blue mat-progress-bar .mat-progress-bar-fill::after{
  background-color: #3342ff;
}
.yellow mat-progress-bar .mat-progress-bar-fill::after{
  background-color: #f8e71c;
}
.green mat-progress-bar .mat-progress-bar-fill::after{
  background-color: #7ed321;
}
#resultat .Liste-contenu .-vertical{
  background-color: #ccc!important;
  width: 10px;
}
#resultat .-vertical .ng-scrollbar-thumb{
  background-color: #4f5e65!important;
  opacity: 1;
  width: 6px;
  margin: 0 auto;
}
/* #resultat .ngx-charts{
  width: 100%!important;
  max-width: 500px;
  min-width: 1px;
} */
.bar-chart .bar{
  border-radius: 0;
}
.ngx-charts-tooltip-content.animate{
  padding: 0!important;
  border-radius: 0px!important;
  width: auto!important;
}
#choixmultiple .relative{
  position: relative;
  display: table;
}
#choixmultiple .absolute{
  position: absolute;
  width: 100px;
  height: 53px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  margin: auto;
  
}
#choixmultiple .absolute>p{
  font-family: firasans;
  font-size: 35px;
  text-align: center;
  color: #232425;
  margin: 0;
  line-height: 26px;
}
#choixmultiple .absolute>p>small{
 font-size: 12px;
  color: #232425;
  font-family: firasans;
  opacity: 0.5;
}
.ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-bottom{
  border-bottom-color:#e65900!important;
}
.ngx-charts-tooltip-content.type-tooltip .tooltip-caret.position-top{
  border-top-color:#e65900!important;
}
/* RESPMONSIVE
&&&&&&&&&&&&&&&& */
@media (max-width: 768px) {
  .filtre-quiz .liste > li {
    display: block;
    float: none;
    width: 100% !important;
    text-align: center;
  }

  .filtre-quiz .liste > li.btn-group {
    display: table;
    width: 220px !important;
    margin: 15px auto;
  }

  .quizz-table .table {
    width: 720px;
  }

  .form-quizz .mat-form-field {
    max-width: 100% !important;
    width: 100% !important;
    display: block !important;
    clear: both !important;
    float: none !important;
    margin-bottom: 20px;
  }

  .wto-50 > mat-form-field + .inline {
    margin-bottom: 15px;
    display: block !important;
    width: 100% !important;
  }
  body .form-quizz .hours .absolute {
    position: absolute;
    right: 15px;
    top: 9px;
  }
  .echell-select {
    padding: 25px 8%;
  }

  .order {
    max-width: 100%;
  }
  .modal-dialog.rubric-pops {
    max-width: 360px;
    width: 100% !important;
    margin: auto;
  }
  .group-selection > table:first-child,
  .group-selection > table:last-child {
    width: 100% !important;
    float: none !important;
    margin-bottom: 25px;
  }
  .rubric-pops .modal-footer button {
    text-transform: uppercase;
    max-width: 100%;
    width: 100%;
    margin: 15px 0;
  }
  .rubric-pops .modal-footer button:focus {
    outline: none;
  }
  .rubric-pops .modal-body .pad {
    padding: 15px 0;
  }
  .rubric-pops .modal-body table td > .mat-form-field {
    width: 100%;
  }
  .rubric-pops .modal-body table td.w30 {
    width: 30%;
  }
  .paginate-rubrique ul li {
    width: 50px;
  }
  .paginate-rubrique ul li:before {
    width: 30px;
    left: 24px;
  }
  .nav-front {
    padding: 45px 20px;
  }

  .mat-menu-xx.mat-menu-panel {
    max-width: 300px !important;
  }
  .relative app-quiz-question > .resp-menu {
    display: block;
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 100;
    left: -45px;
    transition: 0.3s;
    box-shadow: -9px -3px 22px #d8d8d8;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    top: 0;
    padding: 5px;
    background: #fff;
  }
  .relative app-quiz-question > .resp-menu {
    display: block;
  }
  .creation-quizz .liste > .liste2 > li.open > .dropdown-menu {
    left: 0 !important;
  }

  .prent-content-drop {
    padding-top: 50px;
  }
  .front-rubrique .contenu {
    padding: 40px 15px;
  }
  h1 > .bloc {
    display: block;
  }
}

@media (max-width: 530px) {
  .contenu .progress ul li {
    display: inline-block;
    max-width: 67px;
    position: relative;
    width: 18%;
  }
}

/**
 * @swimlane/ngx-dnd v"4.0.1" (https://github.com/swimlane/ngx-dnd)
 * Copyright 2017
 * Licensed under MIT
 */
