
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: 'firasans';
    src: url('assets/fonts/firasans-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/firasans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'firasans';
    src: url('assets/fonts/firasans-light-webfont.woff2') format('woff2'),
         url('assets/fonts/firasans-light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'firasans';
    src: url('assets/fonts/firasans-semibold-webfont.woff2') format('woff2'),
         url('assets/fonts/firasans-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'firasans';
    src: url('assets/fonts/firasans-ultralight-webfont.woff2') format('woff2'),
         url('assets/fonts/firasans-ultralight-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}


@font-face {
    font-family: 'firasans';
    src: url('assets/fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('assets/fonts/firasans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

body{
    margin: 0;
    padding: 0;
    font-family: firasans;
    color: #4a4a4a;
}
.container{
    max-width: 1024px;
}
li,p,a,span{
    color: #4a4a4a;
    font-family: firasans;
}
a>span{
    color: inherit
}

ul,ol{
    margin: 0;
    padding: 0;
}

.bg-quizz{
    background: #fc6100;
}

/*HEADER QUIZZ*/
.navbar{
    border-radius: 0!important;
    margin-bottom: 30px;
    min-height: 1px!important;
}
.filtre-quiz .liste>li{
    list-style: none;
    display: inline-block;
    float: left;
    width: 28%;
    height: 46px;
}
.creation-quizz .liste1 .btn-group .mat-form-field-wrapper{
    background: #fff;
    padding-bottom: 0;
}
.creation-quizz .liste1 .btn-group .mat-form-field-underline{
    display: none;
}
.creation-quizz .liste1 li .mat-form-field-infix{
    border: 0!important;
    margin-bottom: 0;
    height: 100%;
    line-height: 19px;
    padding-left: 5px;
  }
.creation-quizz .liste1 li .mat-input-flex{
    height: 100%;;
  }

  .mat-select-arrow{
      color: inherit!important;
  }

.filtre-quiz .liste>li.btn-group mat-form-field .mat-form-field-wrapper{
    padding: 5px 0;
}
.filtre-quiz .liste>li.title{
    line-height: 46px;
}
.filtre-quiz .liste>li.form>.input-group{
    padding: 6px 0;
}
.mat-expansion-panel-body{
    padding: 0!important;
}


.filtre-quiz .liste>li:last-child{
    float: right;
}
.filtre-quiz .liste{
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
}
.filtre-quiz .liste .title>a,
.creation-quizz .liste .title>a{
    font-family: firasans, fira sans;
    font-size: 22px;
    color: #fff;
}
.filtre-quiz .liste li>#button-basic{
    background-color: inherit;
    border: 0;
}
.filtre-quiz .liste li:first-child{
    width: 40%;
}
.filtre-quiz .liste li>#button-basic:active{
    box-shadow: 0px 0px;
}

.filtre-quiz ul li .mat-form-field-label{
   color: #fff;
   padding-left: 40px;
   margin: 0;
   padding-top: 6px;
}
.mat-select-value {
    display: inline!important;
}
.filtre-quiz .mat-select-arrow-wrapper{
    width: 40px;
    height: 25px;
    float: left;
    position: absolute;
    left: 0;
    top: 0px
}
.filtre-quiz .mat-form-field-infix{
    border: 0;
}
.filtre-quiz .mat-form-field-underline{
    display: none;
}
.filtre-quiz .cdk-overlay-pane{
    top: 56px!important;
}
.filtre-quiz .mat-select-trigger{
    width: 100%;
    padding-left: 40px;
    margin: 0;
    padding-top: 5px;
}
.filtre-quiz .ng-star-inserted{
    color: #fff;
}
.filtre-quiz .mat-select-arrow{
    margin-left: 0;
    width: 25px;
    height: 25px;
    border: 0;
    background: url(/assets/images/picto-filtre.png)no-repeat center;
    background-size: contain;
    margin-right: 25px;
}

.filtre-quiz.navbar,.navbar{
    margin: 0;
    border-radius: 0;
    height: auto!important;
    min-height: 1px;
}
 .form .btn-search{
    background: #fff url(/assets/images/search.png) no-repeat center;
    width: 34px;
    height: 34px;
    padding: 0;
    background-size: 23px;
    border-radius: 0;
 }
 .form .input-group input{
     border: 0;
     border-radius: 0;
     height: 34px;
 }
 .filtre-quiz .open>.dropdown-menu {
    display: block;
    width: 200px;
    border-radius: 0;
    max-height: 250px;
    overflow-y: scroll;
    width: 200px;
    border-radius: 0;
}
.open>.dropdown-menu {
    display: block;
    border-radius: 0;
    width: 100%;
}

/* Responsive header quizz
************************** */
@media (max-width:768px){
    .filtre-quiz .liste>li {
        display: block;
        float: none;
        width: 100%!important;
        text-align: center;
    }

    .filtre-quiz .liste>li.btn-group{
        display: table;
        width: 220px!important;
        margin: 15px auto;
    }


    .quizz-table .table{
        width: 720px;
    }
}

/*Fquizz-table
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
.quizz-table .table{
    border-collapse: initial;
    
}
.quizz-table .container-table{
    margin: 45px auto;
    max-height: 410px;
    border-bottom: 1px #000 solid;
    
}
/* .quizz-table .table tr.odd{
} */
.quizz-table .table tr.even{
    background-color:#e6e6e6 !important;
}
.quizz-table .table tr:hover{
    background-color: #35cc99 !important;
    color: #fff;
}
.quizz-table .table tr:hover td,.quizz-table .table tr:hover th{
    color: #fff;
}
.quizz-table .table tr.no-border td,
.quizz-table .table tr.no-border th{
    border:0px;
    border-bottom: 2px #fc6100 solid;
}
.quizz-table .table tr td,
.quizz-table .table tr th{
    border: 0;
   border-bottom: 1px #ccc solid;
   padding-left: 15px;
}
.quizz-table .table td,
.quizz-table .table th{
    font-size: 11px;
    height: 26px;
    padding: 0;
    vertical-align: middle;
    color: #000;
}
.quizz-table .table td button,
.quizz-table .table th button{
    padding: 0 15px;
    border-radius: 0;
    width: 100%;
    height: 21px;
    border: 0;
    background: #fff;
    color: #000;
    font-size: 11px;
    min-width: 115px;
}
.quizz-table .open>.dropdown-menu{
    overflow: hidden;
}
.quizz-table .dropdown-menu>li>a{
    font-size: 11px;    
}
.quizz-table .btn .caret {
    margin-left: 5px;
}
.quizz-table .open>.dropdown-menu{
    width: 100%;
}

.quizz-table .table td>a.picto,
.quizz-table .table th>a.picto{
    display: inline-block;
    width: 25px;
    height: 22px;
    margin-right: 10px;
    float: left;
    background: url(/assets/images/pictos-agency.png) no-repeat center;
    overflow: hidden;
    background-size: 30px auto;
    transition: 0.3s;
}
.quizz-table .table tr:hover td>a.picto,
.quizz-table .table tr:hover th>a.picto{
    background: url(/assets/images/pictos-agency2.png) no-repeat center;
    background-size: 30px auto;
}

.quizz-table .table td>a.copy,
.quizz-table .table th>a.copy{
    background-position: -3px -2px;
}
.quizz-table .table td>a.reultat,
.quizz-table .table th>a.reultat{
    background-position: -3px -47px;
}
.quizz-table .table td>a.apercu,
.quizz-table .table th>a.apercu{
    background-position: -3px -26px;
}
.quizz-table .table td>a.suppr,
.quizz-table .table th>a.suppr{
    background-position: -3px -73px;
}
.quizz-table .table td:last-child,
.quizz-table .table th:last-child{
    width: auto;
}

.-vertical .ng-scrollbar-thumb{
    background-color: #9ba7b5!important;
}
.add-quizz{
    float: right;
    width: 80px;
    height: 80px;
    display: block!important;
    background: #fc6100;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    margin: 15px;
    text-align: center;
    line-height: 80px;
    z-index: 100;
}
.add-quizz a{
    font-size: 40px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    position: absolute;
    width: 100%;
    left: 0;
}
.add-quizz a:focus, .add-quizz a:hover{
    color: #fff;
    text-decoration: none;
}
.mat-select-trigger {
    width: 100px;
}

/* .ng-scrollbar-container{
    overflow: scroll!important;
} */
.-horizontal .ng-scrollbar-thumb{
    background-color: #9ba7b5;
}
/*Création quizz :
&&&&&&&&&&&&&&&&&&&*/
.form-quizz .mat-form-field-label,
.form-quizz .mat-input-element{
    font-size: 15px;
    font-weight: 600;
    color: #6b6b6b;
}

#creation-quizz .mat-expansion-indicator::after {
    content: ''!important;
    display: inline-block!important;
    transform: rotate(90deg)!important;
    vertical-align: middle!important;
    border-color: #0000 #0000 #0000 #fc6100!important;
    border-style: solid!important;
    border-width: 6px!important;
    margin-top: -4px!important;
    padding: 0!important;
}

.prent-content-drop{
    box-shadow: 0 5px 14px 0 rgba(166, 166, 166, 0.4);
    margin: 40px 0;
}
.rubrique,.parent-content{
    margin-bottom: 30px;
}
.form-quizz{
    margin-bottom: 0;
}
.parent-content{
    border: none;
}
.clear{
    clear: both;
    float: none;
    display: block;
    width: 100%;
}
.ngx-toolbar{
    font-size: 16px!important;
    border: none!important;
    background-color: #d8d8d8!important;
    padding: 8px 10px 0!important;
}
.ngx-editor-textarea{
    min-height: 84px!important;
    border: none!important;
    border-bottom: 1px #d8d8d8 solid!important;
}
.ngx-editor .ngx-wrapper .ngx-editor-placeholder{
    display: inline;
}
.ngx-editor{
    width: 100%;
    min-width: 0px;
    max-width: 100%;
    margin: 10px auto;
}
.ngx-editor .ngx-editor-grippie{
    height: 31px!important;
}
.w-picto{
    border-left: 5px #fc6100 solid;
}
.content-drop .ng-star-inserted>.ngx-editor-grippie{
    visibility: hidden;
}
/* Float */
.hvr-float {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  
  /* POPUP
  &&&&&&&&&&&&*/
  .modal-dialog{
    max-width: 519px;
    width: 100%!important;
    display: block;
  }
  .modal-content{
      border-radius: 0!important;
      padding: 25px 15px;
  }
  body .btn-primary{
    background-color: #fc6100;
    border-color: #fc6100;
    border-radius: 0;
    color: #fff;
  }
  body .btn-default{
    border-radius: 0;
    color: #fc6100!important;
    background-color: #fff;
    border-color: #fc6100;
  }
  .pagination{
      border-radius: 0;
  }
  .pagination>li>a, .pagination>li>span{
      border: none!important;
  }
  .pagination>li:first-child>a, .pagination>li:first-child>span,
  .pagination>li:last-child>a, .pagination>li:last-child>span {
    border: 1px #ddd solid!important;
    padding: 5px 14px;
    background-color: #fff;
    border-radius: 15px!important;
    color: #eb6b1c !important;
    font-family: firasans;
    font-weight: 400;
}
.pagination>.active>a, .pagination>.active>a:focus,.pagination>li>a:hover
 .pagination>.active>a:hover, .pagination>.active>span,
 .pagination>.active>span:focus, .pagination>.active>span:hover,
 .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus,
  .pagination>li>span:hover {
    color: #fc6100!important;
    cursor: pointer!important;
    background: none!important;
}
.pagination>li>a, .pagination>li>span{
    color: #000!important;
    font-family: firasans;
    font-weight: 700;
}
.parent-pagination .mat-form-field-infix{
    width: 65px!important;
  }
  .parent-pagination .mat-select-trigger{
      width: 100%!important;
  }
  .parent-pagination .mat-form-field-wrapper{
      margin: 0 10px;
}
.content-drop{
    display: table;
    width: 100%;
}

.content-drop .groupe-btn .btn,
.content-drop .groupe-btn table td{
    display: inline-block;
    height: 54px;
}

.content-drop .groupe-btn .btn-suppr{
    width: 54px;
    height: 54px;
    background: url(/assets/images/delete.png) no-repeat center;
    background-size: 26px 26px;
}
.content-drop .groupe-btn .btn-suppr.border{
    border: 1px #ddd solid;
}
.content-drop .groupe-btn table td{
    width: auto;
}
.content-drop .groupe-btn table td .mat-slide-toggle{
    width: 100%;
    height: 100%;
    padding-left: 39px;
}
.content-drop .groupe-btn table td:nth-child(2){
    width: 66%;
}
.content-drop .groupe-btn table td:nth-child(1){
    border-right: 1px #e4e0e0 solid;
}
.content-drop .groupe-btn table td>.menu{
    width: 20px;
    float: right;
    height: 100%;
    background: url(/assets/images/action2.png) no-repeat center;
    background-size: contain;
    border: 0;
}
.content-drop .groupe-btn table{
    width: 100%;
}
.content-drop .groupe-btn{
    display: table;
    background: #fff;
    border-radius: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.content-drop .groupe-btn table,
.content-drop .groupe-btn .btn.edite{
    border: 1px #e4e0e0 solid;
}
.content-drop .groupe-btn .btn.edite{
    background: #fff;
    border-radius: 0;
    padding-left: 40px;
    position: relative;
    font-weight: 600;
    color: #fc6100;
    font-size: 12px;
    width: 130px;
}
.content-drop .groupe-btn .btn.edite>span.edit{
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    left: 4px;
    top: 21%;
    background: url(/assets/images/edit.jpg) no-repeat center;
    background-size: contain;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb{
    background-color: #fc6100;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar{
    background-color: #ff9b5c;
}

.form-quizz.q-courte .q-child .mat-form-field-label{
  font-family: FiraSans;
  font-size: 15px;
  font-weight: normal;
  color: #4a4a4a;
}
.form-quizz.q-courte .mat-form-field-label{
    color: #4f5e65;
    font-size: 16px;
    font-weight: 600;
}
.form-quizz.q-courte .textarea label,
.form-quizz.q-courte .label-italic label {
    color: #4f5e65;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}
.form-quizz .textarea .mat-form-field-wrapper{
    padding-bottom: 0px!important;
}
.form-quizz.q-courte .textarea .mat-form-field{
    width: 100%;
}
.form-quizz.q-long .textarea .mat-form-field{
    max-width: 100%;
    width: 100%;
}
.form-quizz .mat-form-field{
    max-width: 290px;
    width: 95%;
}
.form-quizz .q-child .mat-form-field-type-mat-select .mat-form-field-underline{
    display: none;
  }
.form-quizz .q-child .mat-form-field-type-mat-select .mat-input-flex{
   padding: 0 10px;
   background-color:#fafafa; 
}
.mat-form-field-ripple{
    background-color: #fc6100!important;
}
.mat-form-field-underline{
    background-color: #dcdcdc;
}
.prent-content-drop .embed-responsive{
    max-width: 532px;
    width: 100%;
    margin: 40px auto;
}
#attachement{
    opacity: 1;
    display: table;
    box-shadow: 1px 1px 11px #ccc!important;
}
#attachement li{
    background-color: #fff;
}
.relative app-quiz-question{
    position: fixed;
}
.mat-select-trigger{
    width: 100%;
  }
  